.nav-1:hover {
  background: rgba(0, 0, 0, 0);
}

.nav-1 ul li {
  border-right: 1px solid rgba(255, 255, 255, 0.0);
}
.nav-1 ul li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.0);
}

.nav-1 .logo {
  max-height: 80px;
  max-width: 100%;
  margin-right: 64px;
  margin-top: 19px;
  padding-bottom: 20px;
}

.nav-1 ul > li:hover {
  border-left: 1px solid rgba(255, 255, 255, 0.0);
}

.main-hero {
  padding-top: 70px;
  padding-bottom: 70px;
}

.news-header {
  margin-left: -15px;
  font-size: 24px;
  font-weight: 600;
}

.events-header {
  font-size: 24px;
  font-weight: 600;
}

.featured-blog-image-holder {
  background-color: gray !important;
  background-blend-mode: multiply;
}

@media all and (max-width: 1023px) {
    .nav-1 .logo {
      max-height: 60px;
      max-width: 100%;
      margin-right: 64px;
      margin-top: 10px;
    }

    .nav-1:hover {
      background: rgba(30, 30, 30, 0.9);
    }
}

@media (max-width: 768px) {
    .left-align-mobile {
        text-align: left;
    }
  
    .mobile-grid {
        width: 50%;
        margin-left: 22vw;
    }
}

@media (max-width: 640px) {
    .mobile-grid {
        width: 70%;
        margin-left: 15vw;
    }
}

@media (max-width: 400px) {
    .mobile-grid {
        width: 100%;
        margin-left: 0vw;
    }
}

@media all and (max-width: 767px) {
  .mobile-break {
    display: block !important;
  }
}

.nav-1 ul li a {
  padding: 40px 24px;
}

.has-dropdown:before {
  top: 40px;
}

.nav-1 .social-links a {
  padding: 20px 0px;
}

.nav-1 {
  background: rgba(0, 0, 0, 0);
  position: absolute;
}

.contrast-white-p {
  color: #fff !important;
  opacity: 0.6;
}
.contrast-white div{
  color: #fff !important;
  opacity: 0.8;
}
.contrast-white strong {
  color: #fff !important;
  opacity: 1.0;
}
.contrast-white-detail{
  background: #fff !important;
  opacity: 0.9;
}

.job-desc a {
   line-height: 32px;
}

.col-md-6:nth-child(odd) {
  clear: left;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}
