---
layout: none
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ACM · The Association for Computing Machinery at UTD</title>
    <meta
      property="og:title"
      content="ACM · The Association for Computing Machinery at UTD"
    />
    <meta
      name="description"
      content="We're a team of students with one goal: building a greater, more collaborative computing community at UT Dallas. We run events, programs, and more to help students personally and professionally."
    />
    <meta
      property="og:description"
      content="We're a team of students with one goal: building a greater, more collaborative computing community at UT Dallas. We run events, programs, and more to help students personally and professionally."
    />
    {% include common-head.html %}
  </head>
  <body>
    {% include common-nav.html %}

    <div class="main-container">
      {% include common-slider.html %}
      <section class="large-pad">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
              <p class="super-lead left-align-mobile">
                We're the Association for Computing Machinery at UT Dallas.
                <br />We're focused on giving back to the engineering community
                here at UT Dallas and beyond through events, projects, HackUTD,
                and more.<br />We currently have seven divisions.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="image-block" id="industry">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
              <div class="text-block">
                <div class="detail-line"></div>
                <h2>ACM Industry</h2>
                <p>
                  At ACM Industry events, we host companies from around Dallas
                  and around the country to give students an inside view of what
                  it's like to work in the software space, and how to get there.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="image-holder col-md-6 col-sm-4 pull-left">
          <div class="image-slider">
            <ul class="slides">
              <li>
                <div class="background-image-holder">
                  <img
                    alt="Slide Background"
                    class="background-image"
                    src="png/industry-mini1.jpg"
                  />
                </div>
              </li>
              <li>
                <div class="background-image-holder">
                  <img
                    alt="Slide Background"
                    class="background-image"
                    src="png/industry-mini2.jpg"
                  />
                </div>
              </li>

              <li>
                <div class="background-image-holder">
                  <img
                    alt="Slide Background"
                    class="background-image"
                    src="png/industry-mini3.jpg"
                  />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="clients-1">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="text-block">
                <p class="super-lead text-white">
                  A few of the many incredible companies we've had the pleasure
                  of hosting
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
              <img alt="Client" src="logo/industry-twitter.png" />
            </div>

            <div class="col-md-3 col-sm-6 text-center">
              <img alt="Client" src="logo/industry-google.png" />
            </div>

            <div class="col-md-3 col-sm-6 text-center">
              <img alt="Client" src="logo/industry-statefarm.png" />
            </div>

            <div class="col-md-3 col-sm-6 text-center">
              <img alt="Client" src="logo/industry-facebook.png" />
            </div>
          </div>
        </div>
      </section>

      <section class="wide-features" id="projectslabs">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="wide-feature">
                <div class="detail-line"></div>
                <h2>ACM Projects and Research</h2>
                <p>
                  ACM Projects and Research are ACM's semester-long guided programs. They are for those
                  new to software development/research, teaching collaborative tools, new
                  technologies, and core principles complimentary to curriculum.
                </p>
                <a class="text-link" href="/projects"
                  >Learn more <i class="icon ti ti-arrow-right arrow_right"></i
                ></a>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="wide-feature">
                <div class="detail-line"></div>
                <h2>ACM's Engineering Team</h2>
                <p>
                  ACM Engineering is the group responsible for building
                  maintainable open-source software for ACM and the community.
                  It provides students a platform to apply their computer
                  science knowledge by building production-ready applications
                  such as
                  <a href="https://github.com/acmutd/hackportal">HackPortal</a>
                  and our
                  <a href="https://github.com/acmutd/portal">
                    Member Portal.
                  </a>
                  Using frameworks and tools that are used by real companies,
                  the Engineering team exists to simplify and accelerate student
                  growth and engagement within ACM.
                </p>
                <a class="text-link" href="/apply"
                  >Check Positions<i
                    class="icon ti ti-arrow-right arrow_right"
                  ></i
                ></a>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="wide-feature">
                <div class="detail-line"></div>
                <h2>ACM Education</h2>
                <p>
                  ACM Education helps give students valuable skills needed for
                  the workforce. While college degrees may be more theory based,
                  we aim to give students knowledge not typically attained in
                  the classroom. We run the Technical Interview Prep Program and
                  ACM's social program the Mentor Program.
                </p>
                <a class="text-link" href="/education"
                  >Learn more <i class="icon ti ti-arrow-right arrow_right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="hero-project" id="hackutd">
        <div class="background-image-holder">
          <img
            alt="Slide Background"
            class="background-image"
            src="png/team-hero16.jpg"
          />
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-7">
              <div class="text-block">
                <div class="detail-line"></div>
                <h2 class="text-white">HackUTD by ACM</h2>
              </div>
              <p class="text-white">
                ACM hosts HackUTD, North Texas' largest university hackathon.
                HackUTD VII brought over 800 students together for 24 hours of
                ideas, code, and design.
              </p>
              <a class="text-link text-white" href="http://hackutd.co"
                >Visit hackutd.co
                <i class="icon ti ti-arrow-right arrow_right"></i
              ></a>
            </div>
          </div>
        </div>
      </section>

      <section class="image-block" id="media">
        <div class="container">
          <div class="row">
            <div class="image-holder col-md-6 col-sm-4 pull-left">
              <div class="image-slider">
                <ul class="slides">
                  <li>
                    <div class="background-image-holder">
                      <img
                        alt="Slide Background"
                        class="background-image"
                        src="png/team-hero20.png"
                      />
                    </div>
                  </li>
                  <li>
                    <div class="background-image-holder">
                      <img
                        alt="Slide Background"
                        class="background-image"
                        src="png/team-hero9.jpg"
                      />
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
              <div class="text-block">
                <div class="detail-line"></div>
                <h2>ACM Media</h2>
                <p>
                  ACM Media is our newest creative team behind all the marketing and
                  design responsibilities that encompass ACM at UTD. We’re comprised of
                  talented designers, and marketing specialists who help conduct marketing
                  campaigns and maximize attendance.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="large-pad">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
              <p class="super-lead">
                Let's build a better computing community together.
                <a class="text-link" href="/apply"
                  >Join our team.
                  <i class="icon ti ti-arrow-right arrow_right"></i
                ></a>
              </p>
            </div>
          </div>
        </div>
      </section>
      {% include common-footer.html %}
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flexslider.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/twitterfetcher.min.js"></script>
    <script src="js/spectragram.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/jquery.plugin.min.js"></script>
    <script src="js/placeholders.min.js"></script>
    <script src="js/countdown.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
