---
layout: none
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Apply to the ACM · The Association for Computing Machinery at UTD</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css" media="all">
        <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="http://fonts.googleapis.com/css?family=Roboto:100,400,300,700,400italic,500%7CMontserrat:400,700" rel="stylesheet" type="text/css">
    </head>
    <body>

				
		<div class="nav-container">
			
			
		
			<nav class="nav-1">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
						<a href="#" class="home-link">
								<a href="#" class="home-link">
									<img alt="Logo" class="logo" src="img/logo-square-light.png">
								</a>
							</a>
							<ul class="menu">
								<li class="has-dropdown"><a href="#">Events &amp; Activities</a>
									<ul class="subnav">
										<li><a href="#">ACM Industry Series</a></li>
										<li><a href="#">HackUTD</a></li>
										<li><a href="#">ACM Projects</a></li>
										<li><a href="#">ACM Labs</a></li>
									</ul>
								</li>
								<li><a href="#">Team</a></li>
								<li><a href="#">Partners</a></li>
								<li><a href="#">Join</a></li>
								<li><a href="#">Apply</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
							<ul class="social-links">
									<li><a href="#"><i class="ti ti-facebook"></i></a></li>
									<li><a href="#"><i class="icon ti ti-twitter-alt"></i></a></li>
									<li><a href="#"><i class="icon ti ti-github"></i></a></li>
								</ul>
							<div class="nav-functions">
							</div>
						</div>
					</div>
				</div>
			
				<div class="mobile-toggle">
					<div class="bar-1"></div>
					<div class="bar-2"></div>
				</div>
			</nav>
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
		</div>
		
		<div class="main-container">
					
			
					
			
					
			
					
			
					
			
					
			
					
			<section class="hero-slider large-image">
				<ul class="slides">
					<li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero1.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br>community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero2.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br>community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero3.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br>community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero4.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br>community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero5.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br>community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero6.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br>community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero7.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br>community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero8.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br>community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero9.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br>community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero10.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br>community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li>
				
				</ul>
			</section>
			
			<section class="text-hero">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM Culture</h5>
								<h1 class="contrast-h1"><strong>We get work done. We have fun.</h1>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-6">
							<p class="lead">At ACM, we work a bit differently than the average student organization. Autonomy is key at ACM, and we let officers make their positions theirs and take ownership of their work.
							</p>
						</div>
						<div class="col-sm-6">
							<p class="lead">
								Doing your job is the minimum, and innovating in your position is expected. When as a team we can rely on each other, we can have fun building great events, programs, and initiatives.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="text-block">
								<h5><br><a class="text-link" href="https://www.facebook.com/acmatutd/events">Check out the current team</a></h5>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="large-pad">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<p class="super-lead">
								Multiple applications. One Form. 
							</p>
							<p>
								We've streamlined our application process. After looking at the descriptions below for the ACM Officer position you'd like to apply for, head over to <a href="http://acmutd.co/application">acmutd.co/application</a> to apply for positions across the ACM Board of Directors, Operations, Projects, Labs, &amp; HackUTD.<br><br>Note that ACM Staff openings (incl. Projects Mentors and Labs PMs, Devs, &amp; Designers) require a separate application. The links for these applications are available in the opening listing.
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM Board of Directors</h5>
								<h4>Openings for ACM's Executive Board of Directors</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
							{% assign openings = site.openings | where: "team", "board" %}
							{% if openings.size == 0 %}
								<div class="col-md-6 col-sm-12">
									<div class="narrow-feature">
										<div class="content">
											<h5>No openings</h5>
											<p>Thanks for your interest, but we're not hiring on this team at this time.</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for opening in openings %}
								    <div class="col-md-6 col-sm-12">
										<div class="narrow-feature">
											<div class="content">
												<h5>{{ opening.title }}</h5>
												{{ opening.excerpt }}
												{% if opening.application %}
												<p><a href="http://{{ opening.application }}" class="text-link">Apply at {{ opening.application }} <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% else %}
												<p><a href="http://acmutd.co/application" class="text-link">Apply <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% endif %}
											</div>
										</div>
									</div>
							    {% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</section>

			<section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM HackUTD</h5>
								<h4>Openings for the organizing team of the official hackathon of UT Dallas</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
							{% assign openings = site.openings | where: "team", "hackutd" %}
							{% if openings.size == 0 %}
								<div class="col-md-6 col-sm-12">
									<div class="narrow-feature">
										<div class="content">
											<h5>No openings</h5>
											<p>Thanks for your interest, but we're not hiring on this team at this time.</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for opening in openings %}
								    <div class="col-md-6 col-sm-12">
										<div class="narrow-feature">
											<div class="content">
												<h5>{{ opening.title }}</h5>
												{{ opening.excerpt }}
												{% if opening.application %}
												<p><a href="http://{{ opening.application }}" class="text-link">Apply at {{ opening.application }} <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% else %}
												<p><a href="http://acmutd.co/application" class="text-link">Apply <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% endif %}
											</div>
										</div>
									</div>
							    {% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</section>

			<section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM Projects</h5>
								<h4>Openings for the ACM's guided projects initiative</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
							{% assign openings = site.openings | where: "team", "projects" %}
							{% if openings.size == 0 %}
								<div class="col-md-6 col-sm-12">
									<div class="narrow-feature">
										<div class="content">
											<h5>No openings</h5>
											<p>Thanks for your interest, but we're not hiring on this team at this time.</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for opening in openings %}
								    <div class="col-md-6 col-sm-12">
										<div class="narrow-feature">
											<div class="content">
												<h5>{{ opening.title }}</h5>
												{{ opening.excerpt }}
												{% if opening.application %}
												<p><a href="http://{{ opening.application }}" class="text-link">Apply at {{ opening.application }} <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% else %}
												<p><a href="http://acmutd.co/application" class="text-link">Apply <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% endif %}
											</div>
										</div>
									</div>
							    {% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</section>

			<section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM Labs</h5>
								<h4>Openings for ACM's in-house engineering &amp; software design team</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
							{% assign openings = site.openings | where: "team", "labs" %}
							{% if openings.size == 0 %}
								<div class="col-md-6 col-sm-12">
									<div class="narrow-feature">
										<div class="content">
											<h5>No openings</h5>
											<p>Thanks for your interest, but we're not actively hiring on this team at this time. Think you've got something we need on Labs? Contact us at <a href="mailto:labs@acmutd.co">labs@acmutd.co</a>.</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for opening in openings %}
								    <div class="col-md-6 col-sm-12">
										<div class="narrow-feature">
											<div class="content">
												<h5>{{ opening.title }}</h5>
												{{ opening.excerpt }}
												{% if opening.application %}
												<p><a href="http://{{ opening.application }}" class="text-link">Apply at {{ opening.application }} <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% else %}
												<p><a href="http://acmutd.co/application" class="text-link">Apply <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% endif %}
											</div>
										</div>
									</div>
							    {% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</section>

			<section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM Operations</h5>
								<h4>Openings for ACM's detail-oriented event ops team</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
							{% assign openings = site.openings | where: "team", "operations" %}
							{% if openings.size == 0 %}
								<div class="col-md-6 col-sm-12">
									<div class="narrow-feature">
										<div class="content">
											<h5>No openings</h5>
											<p>Thanks for your interest, but we're not hiring on this team at this time.</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for opening in openings %}
								    <div class="col-md-6 col-sm-12">
										<div class="narrow-feature">
											<div class="content">
												<h5>{{ opening.title }}</h5>
												{{ opening.excerpt }}
												{% if opening.application %}
												<p><a href="http://{{ opening.application }}" class="text-link">Apply at {{ opening.application }} <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% else %}
												<p><a href="http://acmutd.co/application" class="text-link">Apply <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% endif %}
											</div>
										</div>
									</div>
							    {% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</section>

			<section class="image-block">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
							<div class="text-block">
								<div class="detail-line"></div>
								<h2>The Interview Process</h2>
								<p>
									ACM's interview process for ACM Officers is simple. It starts with an online application, and if selected, leads to an in-person interview with the President, VP, and on a team, the relevant Director.<br><br>For ACM Staff, including ACM Projects Mentors and ACM Labs PMs, Devs, &amp; Designers, we provide information specific to that interview process on their application forms.</p>
							</div>
						</div>
					</div>
				</div>
			
				<div class="image-holder col-md-6 col-sm-4 pull-left">
					<div class="image-slider">
						<ul class="slides">
							<li>
								<div class="background-image-holder">
									<img alt="Slide Background" class="background-image" src="png/apply-mini1.jpg">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<footer class="footer-5">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<a href="#">
								<img alt="logo" class="logo" src="img/logo-square-light.png">
							</a>
						</div>
					</div>
			
					<div class="row">
						<div class="col-sm-6">
							<span class="text-white">© Copyright <script type="text/javascript">document.write(new Date().getFullYear());</script> ACM UTD, All Rights Reserved</span>
						</div>
					
						<div class="col-sm-6 text-right">
							<ul>
								<li><a href="#" class="text-link">@acm_utd <i class="icon ti ti-arrow-right arrow_right"></i></a></li>
								<li><a href="#" class="text-link">acm on facebook <i class="icon ti ti-arrow-right arrow_right"></i></a></li>
								<li><a href="#" class="text-link">officer openings <i class="icon ti ti-arrow-right arrow_right"></i></a></li>
								<li><a href="#" class="text-link">contact us <i class="icon ti ti-arrow-right arrow_right"></i></a></li>
							</ul>	
						</div>
					</div>
				</div>	
			</footer>
		</div>
		
				
		<script src="js/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/placeholders.min.js"></script>
        <script src="js/countdown.min.js"></script>
    	<script src="js/scripts.js"></script>
    </body>
</html>

				