---
layout: none
---

<!doctype html>
<html lang="en">
    <head>
        <title>The Association for Computing Machinery at UTD</title>
        <meta name="description" content="We're thirty officers with one goal — a greater, more collaborative engineering community at UT Dallas.">
        <meta property="og:title" content="The Association for Computing Machinery at UTD"/>
        <meta property="og:description" content="We're a team of thirty officers with one goal — a greater, more collaborative engineering community at UT Dallas.">
        <meta property="og:image" content="png/team-hero1.jpg"/>
        {% include common-head.html %}
    </head>
    <body>
		{% include common-nav.html %}
		
		<div class="main-container">
			<section class="hero-slider large-image">
				<ul class="slides">
					<li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero1.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Contact Us</strong>
											<div class="contrast-white">
                                                
											</div>
										</h1>
									</div>
                                    
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-8">
									<p class="lead contrast-white-p">
                                        Have any questions, want to sponsor us, or just want to say hi? Send us a message.
								    </p>
								</div>
							</div>
						</div>	
					</li>				
				</ul>
			</section>
						
            <section class="contact-2 text-hero">          
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="text-block">
						        <div class="detail-line"></div>
								<h5>Get in Touch</h5>
								<p>Fill out this quick form with your thoughts and we'll be more than happy to talk.</p>
							</div>
						</div>
                        <div class="col-md-3 col-sm-6">
                          <div class="contact-method">
                            <i class="icon pe-7s-mail-open-file"></i>
                            <span>comet.acm@gmail.com</span>
                          </div>
                          <div class="contact-method">
                            <i class="icon pe-7s-map-marker"></i>
                            <span>800 West Campbell Rd</span>
                          </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
							<form class="form-email" action="http://formspree.io/comet.acm@gmail.com"
  method="POST" data-error="Please fill all fields correctly." data-success="Thanks for contacting us, we'll be in touch shortly.">
                              <input name="name" class="input-standard validate-required" type="text" placeholder="Your Name" name="name">
                              <input name="email" class="input-standard validate-email validate-required" type="text" placeholder="Your Email Address">
                              <textarea name="message" class="input-standard validate-required" placeholder="Your Message"></textarea>
                              <input type="submit" class="btn btn-sm" value="Send">
                            </form>
						</div>
					</div>
				
					<div class="row">
						
					</div>
				</div>
			</section>
                
			{% include common-footer.html %}
		</div>
		
				
		<script src="js/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/placeholders.min.js"></script>
        <script src="js/countdown.min.js"></script>
    	<script src="js/scripts.js"></script>
    </body>
</html>
