---
layout: none
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Association for Computing Machinery at UTD</title>
    <meta
      name="description"
      content="We're officers with one goal — a greater, more collaborative engineering community at UT Dallas."
    />
    <meta
      property="og:title"
      content="The Association for Computing Machinery at UTD"
    />
    <meta
      property="og:description"
      content="We're a team of officers with one goal — a greater, more collaborative engineering community at UT Dallas."
    />
    <meta property="og:image" content="png/team-hero1.jpg" />
    {% include common-head.html %}
  </head>
  <body>
    {% include common-nav.html %}

    <div class="main-container">
      <section class="hero-slider large-image">
        <ul class="slides">
          <li>
            <div class="background-image-holder overlay">
              <img
                alt="Slide Background"
                class="background-image"
                src="png/team-hero8.jpg"
              />
            </div>

            <div class="container vertical-align">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-block">
                    <div class="detail-line contrast-white-detail"></div>
                    <h1 class="contrast-h1 contrast-white">
                      <strong>ACM Education</strong>
                    </h1>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <p
                    class="lead contrast-white-p"
                    style="font-size: 32px; line-height: 37px; font-weight: 300"
                  >
                    Preparing students for the workforce through mentorship and
                    workshops
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="large-pad">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
              <p class="super-lead left-align-mobile">
                ACM Education helps give students valuable skills needed for the
                workforce. While college degrees may be more theory based, we
                aim to give students knowledge not typically attained in the
                classroom. We run the Technical Interview Prep Program (TIP),
                Mentor Program, and various technical workshops during the
                school year. Feel free to reach us at
                <a href="mailto:education@acmutd.co">education@acmutd.co</a>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="wide-features">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="wide-feature">
                <div class="detail-line"></div>
                <h4>Technical Interview Prep</h4>
                <p>
                  Trying to land an <strong>internship</strong>? Most tech
                  companies have both behavioral and technical interviews. Our
                  technical interview prep program will prepare you for both and
                  help you nail your next interview! We are piloting the program
                  this Spring with a small cohort. The program consists of three
                  parts every week. We will provide weekly material to be read
                  through before the workshop to help students understand data
                  structure algorithms in depth. During the workshop on
                  Thursdays, you will have a smaller team to discuss program
                  material and problems. There will also be homework questions
                  to practice the skills discussed that week. The participants
                  will have a discord community dedicated for interview prep and
                  other perks for completing the program such as mock interviews
                  and certificates. If you want a support group to help you
                  through the hiring season, this is a great opportunity!
                </p>
                <p>
                  <a href="http://join.acmutd.co/programs">Interest Forms</a> for the program are up now. This series runs
                  every semester.
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="wide-feature">
                <div class="detail-line"></div>
                <h4>Mentor Program</h4>
                <p>
                  The <strong>ACM Mentor Program</strong> pairs lowerclass
                  students with upperclass students. This gives them valuable
                  advice and helps them start building connections. Students can
                  gain insight from a variety of topics ranging from which
                  courses to take to how to acquire internships. We organize
                  workshops about relevant topics such as Making Your LinkedIn
                  Profile and Career Paths. Our program offers Udemy courses to
                  our mentors/mentees to learn various subjects such as Game
                  Development, Data Science, Front-End Development, and much
                  more. Also, we provide mentors/mentees the opportunity to host
                  their own workshops! The mentor program hosts events
                  throughout the semester, which gives all mentors and mentees
                  to network with other students in the program.
                </p>
                <p>
                  <a href="http://join.acmutd.co/programs">Interest Forms</a> for the program are up now.
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="wide-feature">
                <div class="detail-line"></div>
                <h4>Technical Workshops</h4>
                <p>
                  Looking to learn new computer science skills and start new
                  projects? Attend ACM Education workshops to learn more about
                  the latest technologies, skills, and languages used in the
                  industry!
                </p>
                <p>
                  There is no application! Just be on the look out for our
                  <a href="/events">events</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- to be added later on -->
      {% assign openings = site.workshops %} {%
      for opening in openings %}
      <section class="narrow-features">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <div class="text-block">
                <div class="detail-line"></div>
                <h5>{{ opening.title }}</h5>
                {{ opening.description }}
                <!-- <h4>Checkout our amazing workshops and learn more during your free time</h4> -->
              </div>
            </div>

            <div class="col-sm-4">
              <div class="col-md-12 col-sm-12">
                <div class="narrow-feature">
                  <div class="content">
                    {% if opening.github %}
                    <p>
                      <a href="{{ opening.github }}" class="text-link"
                        >Github<i class="icon ti ti-arrow-right arrow_right"></i
                      ></a>
                    </p>
                    {% endif %} {% if opening.stream %}
                    <p>
                      <a href="{{ opening.stream }}" class="text-link"
                        >Recording<i
                          class="icon ti ti-arrow-right arrow_right"
                        ></i
                      ></a>
                    </p>
                    {% endif %} {% if opening.trackit %}
                    <p>
                      <a href="https://trackit.acmutd.co" class="text-link"
                        >TrackIT: {{opening.trackit}}<i
                          class="icon ti ti-arrow-right arrow_right"
                        ></i
                      ></a>
                    </p>
                    {% endif %} {% if opening.custom-text %}
                    <p>
                      <a href="{{ opening.custom-link }}" class="text-link"
                        >{{opening.custom-text}}<i
                          class="icon ti ti-arrow-right arrow_right"
                        ></i
                      ></a>
                    </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-sm-4">
              <div class="col-md-12 col-sm-12">
                <div class="narrow-feature">
                  <div class="content">
                    {% if opening.trackit %}
                    <p>
                      <a href="https://trackit.acmutd.co" class="text-link"
                        >TrackIT: {{opening.trackit}}<i
                          class="icon ti ti-arrow-right arrow_right"
                        ></i
                      ></a>
                    </p>
                    {% endif %}
                    {% if opening.custom-text %}
                    <p>
                      <a href="{{ opening.custom-link }}" class="text-link"
                        >{{opening.custom-text}}<i
                          class="icon ti ti-arrow-right arrow_right"
                        ></i
                      ></a>
                    </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      {% endfor %} {% include common-footer.html %}
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flexslider.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/twitterfetcher.min.js"></script>
    <script src="js/spectragram.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/jquery.plugin.min.js"></script>
    <script src="js/placeholders.min.js"></script>
    <script src="js/countdown.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
