---
layout: none
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Association for Computing Machinery at UTD</title>
    <meta
      name="description"
      content="We're officers with one goal: building a greater, more collaborative computing community at UT Dallas."
    />
    <meta
      property="og:title"
      content="The Association for Computing Machinery at UTD"
    />
    <meta
      property="og:description"
      content="We're a team of officers with one goal: building a greater, more collaborative computing community at UT Dallas."
    />
    <meta property="og:image" content="png/team-hero1.jpg" />
    {% include common-head.html %}
  </head>
  <body>
    {% include common-nav.html %}

    <div class="main-container">
      <section class="hero-slider large-image">
        <ul class="slides">
          <li>
            <div class="background-image-holder overlay">
              <img
                alt="Slide Background"
                class="background-image"
                src="png/team-hero4.jpg"
              />
            </div>

            <div class="container vertical-align">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-block">
                    <div class="detail-line contrast-white-detail"></div>
                    <h1 class="contrast-h1 contrast-white">
                      <strong>Events.</strong>
                    </h1>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <p
                    class="lead contrast-white-p"
                    style="font-size: 32px; line-height: 37px; font-weight: 300"
                  >
                    Here's what we're doing this semester.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="text-hero">
        {% assign events = site.events %} {% for event in events %} {% if
        event.featured %}
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="text-block">
                <div class="detail-line"></div>
                <h5>Featured Event</h5>
                <h1 class="contrast-h1">{{ event.name }}</h1>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <p class="lead">
                {{ event.date | date: '%B %-d %Y %I:%M %p' }}<br />
                {{ event.location }}<br />
                {{ event.extra }}
              </p>
            </div>
            <div class="col-sm-6">
              <p class="lead">{{ event.description }}</p>
              <p>
                <a href="{{ event.link }}" target="_blank">
                  {{ event.link }}
                </a>
              </p>
            </div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </section>

      <section class="main-hero">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h5 class="events-header">Events</h5>
              {% assign events = site.events %} {% for event in events %}
              <div
                class="col-md-6 col-sm-12"
                style="height: 400px; float: right"
              >
                <div class="narrow-feature">
                  <div class="content">
                    <h5>{{ event.name }}</h5>
                    <p class="lead">{{ event.description }}</p>
                    <p>
                      {{ event.date | date: '%B %-d %Y %I:%M %p' }} · {{
                      event.location }}<br /><br />
                    </p>
                    <p>
                      <a href="{{ event.link }}" target="_blank">
                        {{ event.link }}
                      </a>
                    </p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>

      <section class="main-hero" id="education">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h5 class="events-header">ACM Event Schedule</h5>
              <iframe
                src="https://calendar.google.com/calendar/embed?height=800&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=dWJkaWZ2azM3cmtsbjlpdWRyMWFhNWhtYWNyb3FtNnVAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%238E24AA&amp;color=%230B8043&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0"
                style="border-width: 0"
                width="1200"
                height="800"
                frameborder="0"
                scrolling="no"
              ></iframe>
            </div>
          </div>
        </div>
      </section>

      {% include common-footer.html %}
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flexslider.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/twitterfetcher.min.js"></script>
    <script src="js/spectragram.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/jquery.plugin.min.js"></script>
    <script src="js/placeholders.min.js"></script>
    <script src="js/countdown.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
