---
layout: none
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Association for Computing Machinery at UTD</title>
    <meta
      name="description"
      content="We're officers with one goal: building a greater, more collaborative computing community at UT Dallas."
    />
    <meta
      property="og:title"
      content="The Association for Computing Machinery at UTD"
    />
    <meta
      property="og:description"
      content="We're a team of officers with one goal: building a greater, more collaborative computing community at UT Dallas."
    />
    <meta property="og:image" content="png/team-hero1.jpg" />
    {% include common-head.html %}
  </head>
  <body>
    {% include common-nav.html %}

    <div class="main-container">
      <section class="hero-slider large-image">
        <ul class="slides">
          <li>
            <div class="background-image-holder overlay">
              <img
                alt="Slide Background"
                class="background-image"
                src="png/team-hero15.jpg"
              />
            </div>

            <div class="container vertical-align">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-block">
                    <div class="detail-line contrast-white-detail"></div>
                    <h1 class="contrast-h1 contrast-white">
                      <strong>ACM UTD Membership</strong>
                      <div class="contrast-white"></div>
                    </h1>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <p
                    class="lead contrast-white-p"
                    style="font-size: 32px; line-height: 37px; font-weight: 300"
                  >
                    Join one of the largest student organizations at UTD.
                  </p>
                  <!-- <a class="text-link text-white" style="font-size: 20px; line-height: 32px;" href="/mailing">Join our mailing list. <i class="icon ti ti-arrow-right arrow_right"></i></a> -->
                </div>
              </div>
              <!-- <div class="row">
                                <div class="col-sm-8">
                                
                                    <a class="text-link text-white" style="font-size: 20px; line-height: 32px;" href="/discord">Join our discord community<i class="icon ti ti-arrow-right arrow_right"></i></a>
                                </div>
              </div> -->
            </div>
          </li>
        </ul>
      </section>

      <section class="large-pad">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
              <p class="super-lead left-align-mobile">
                <!-- In addition to our mailing list, check out our <a class="text-link" href="https://www.facebook.com/acmatutd">Facebook page<i class="icon ti ti-arrow-right arrow_right"></i></a> and our <a class="text-link" href="https://twitter.com/acm_utd">Twitter profile<i class="icon ti ti-arrow-right arrow_right"></i></a> to get updates about what we're doing and how you can get involved.</p> -->
                To become a member, join one of our semester-long programs OR
                attend any five of our events per semester.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="wide-features">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="wide-feature">
                <div class="detail-line"></div>
                <h4>Get notified about our events.</h4>
                <p>
                  Never miss an event by joining our
                  <a rel="noreferrer" href="/mailing" target="_blank"
                    >mailing list</a
                  >
                  and our
                  <a rel="noreferrer" href="/discord" target="_blank"
                    >Discord Server</a
                  >
                  to get notified about upcoming events.
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="wide-feature">
                <div class="detail-line"></div>
                <h4>The Member Portal</h4>
                <p>
                  <em>
                    If you are interested in participating in one of our
                    programs or joining our team, see the
                    <a href="/apply">apply</a> page! Our applications are in our
                    member portal.
                  </em>
                </p>
                <p>
                  Additionally, we use our member portal to track attendance at
                  our events. At the end of each event, there will be a check-in
                  link or QR code that you can scan to tell us that you were at
                  the event. Head over to
                  <a
                    rel="noreferrer"
                    href="https://portal.acmutd.co"
                    target="_blank"
                    >portal.acmutd.co</a
                  >
                  and make an account!
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="wide-feature">
                <div class="detail-line"></div>
                <h4>Member Perks</h4>
                <p>
                  In addition to the wealth of information, networking
                  opportunities, and fun you'll have by attending our events,
                  you get some cool perks by becoming a member.
                </p>
                <p>
                  Our industry sponsors are always interested in recruiting the
                  best from UTD. They know our active members are just that. We
                  put our members' resumes direclty in the hands of recruiters
                  from our sponsors.
                </p>
                <p>
                  We also reward members who attend the most events with cool
                  stickers, exclusive merch, and even giftcards.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% include common-footer.html %}
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flexslider.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/twitterfetcher.min.js"></script>
    <script src="js/spectragram.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/jquery.plugin.min.js"></script>
    <script src="js/placeholders.min.js"></script>
    <script src="js/countdown.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
