---
layout: none
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ACM · The Association for Computing Machinery at UTD</title>
    <meta
      property="og:title"
      content="ACM · The Association for Computing Machinery at UTD"
    />
    <meta
      name="description"
      content="We're a team of students with one goal: building a greater, more collaborative computing community at UT Dallas. We run events, programs, and more to help students personally and professionally."
    />
    <meta
      property="og:description"
      content="We're a team of students with one goal: building a greater, more collaborative computing community at UT Dallas. We run events, programs, and more to help students personally and professionally."
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@200;300&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    {% include common-head.html %}
  </head>
  <body>
    {% include common-nav.html %}

    <section class="hero-slider large-image">
        <ul class="slides">
          <li>
            <div class="background-image-holder overlay">
              <img
                alt="Slide Background"
                class="background-image"
                src="png/Olympics2.jpg"
              />
            </div>

            <div class="container vertical-align">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-block">
                    <div class="detail-line contrast-white-detail"></div>
                    <h1 class="contrast-h1 contrast-white">
                      <strong>ACM Olympics</strong>
                    </h1>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <p
                    class="lead contrast-white-p"
                    style="font-size: 32px; line-height: 37px; font-weight: 300"
                  >
                    A weekend of fun, community, and competition
                  </p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="background-image-holder overlay">
              <img
                alt="Slide Background"
                class="background-image"
                src="png/Olympics1.JPG"
              />
            </div>

            <div class="container vertical-align">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-block">
                    <div class="detail-line contrast-white-detail"></div>
                    <h1 class="contrast-h1 contrast-white">
                      <strong>ACM Olympics</strong>
                    </h1>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <p
                    class="lead contrast-white-p"
                    style="font-size: 32px; line-height: 37px; font-weight: 300"
                  >
                    A weekend of fun, community, and competition
                  </p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="background-image-holder overlay">
              <img
                alt="Slide Background"
                class="background-image"
                src="png/Olympics3.jpg"
              />
            </div>

            <div class="container vertical-align">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-block">
                    <div class="detail-line contrast-white-detail"></div>
                    <h1 class="contrast-h1 contrast-white">
                      <strong>ACM Olympics</strong>
                    </h1>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <p
                    class="lead contrast-white-p"
                    style="font-size: 32px; line-height: 37px; font-weight: 300"
                  >
                    A weekend of fun, community, and competition
                  </p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="background-image-holder overlay">
              <img
                alt="Slide Background"
                class="background-image"
                src="png/Olympics4.jpg"
              />
            </div>

            <div class="container vertical-align">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-block">
                    <div class="detail-line contrast-white-detail"></div>
                    <h1 class="contrast-h1 contrast-white">
                      <strong>ACM Olympics</strong>
                    </h1>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <p
                    class="lead contrast-white-p"
                    style="font-size: 32px; line-height: 37px; font-weight: 300"
                  >
                    A weekend of fun, community, and competition
                  </p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="background-image-holder overlay">
              <img
                alt="Slide Background"
                class="background-image"
                src="png/Olympics5.jpg"
              />
            </div>

            <div class="container vertical-align">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-block">
                    <div class="detail-line contrast-white-detail"></div>
                    <h1 class="contrast-h1 contrast-white">
                      <strong>ACM Olympics</strong>
                    </h1>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <p
                    class="lead contrast-white-p"
                    style="font-size: 32px; line-height: 37px; font-weight: 300"
                  >
                    A weekend of fun, community, and competition
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="large-pad">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
              <p class="super-lead left-align-mobile">
                <strong>ACM Olympics</strong> is a weekend-long multi-sport event held annually at UTD.
                Combing atheletic, academic, and utterly random events, Olympics has something for everyone.
                Come join us for a fantastic time meeting new people, participating in competitive events, and
                having more fun than everyone not participating.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="large-pad dark-back">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
              <p class="super-lead left-align-mobile contrast-white tables-h1">
                <h1 class="tables-h1">
                  <strong style="font-size: 9vh; line-height: 9vh">Check out our schedule of events</strong>
                </h1>
              </p>
            </div>
          </div>
        </div>
        <div class="flex-sch-container">
          <div class="sch-box fri-box">
            <div class="events-box fri-box">
              <div class="event-div">
                <h1 class="sch-head">
                  Friday
                </h1>
                <table class="sch-table">
                  <tr>
                    <th>Event</th>
                    <th class="sch-orange">Time</th>
                  </tr>
                  <tr>
                    <th>Opening Ceremony</th>
                    <th class="sch-orange">4:00 PM</th>
                  </tr>
                  <tr>
                    <th>Typing</th>
                    <th class="sch-orange">5:15 PM</th>
                  </tr>
                  <tr>
                    <th>Soccer</th>
                    <th class="sch-orange">6:30 PM</th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="sch-box sat-box">
            <div class="events-box fri-box">
              <div class="event-div">
                <h1 class="sch-head">
                  Saturday
                </h1>
                <table class="sch-table">
                  <tr>
                    <th>Event</th>
                    <th class="sch-orange">Time</th>
                  </tr>
                  <tr>
                    <th>Push Ups</th>
                    <th class="sch-orange">11:00 AM</th>
                  </tr>
                  <tr>
                    <th>One Mile Run</th>
                    <th class="sch-orange">11:30 AM</th>
                  </tr>
                  <tr>
                    <th>Table Tennis</th>
                    <th class="sch-orange">12:15 PM</th>
                  </tr>
                  <tr>
                    <th>Mystery Event</th>
                    <th class="sch-orange">2:00 PM</th>
                  </tr>
                  <tr>
                    <th>Programming</th>
                    <th class="sch-orange">3:15 PM</th>
                  </tr>
                  <tr>
                    <th>Basketball</th>
                    <th class="sch-orange">4:30 PM</th>
                  </tr>
                  <tr>
                    <th>Smash Bros</th>
                    <th class="sch-orange">6:45 PM</th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="sch-box sun-box">
            <div class="events-box fri-box">
              <div class="event-div">
                <h1 class="sch-head">
                  Sunday
                </h1>
                <table class="sch-table">
                  <tr>
                    <th>Event</th>
                    <th class="sch-orange">Time</th>
                  </tr>
                  <tr>
                    <th>Volleyball</th>
                    <th class="sch-orange">1:30 PM</th>
                  </tr>
                  <tr>
                    <th>Trivia</th>
                    <th class="sch-orange">3:45 PM</th>
                  </tr>
                  <tr>
                    <th>Closing Ceremony</th>
                    <th class="sch-orange">5:30 PM</th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    <div class="main-container">
      <section class="large-pad">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
              <p class="super-lead left-align-mobile">
                <strong>Join ACM Olympics</strong>
                <a class="text-link" href="https://forms.gle/3q62ZXonPktw4Jei8"
                  >as a participant. <i class="icon ti ti-arrow-right arrow_right"></i
                ></a>
                Or, 
                <a class="text-link" href="https://forms.gle/X1221WcefHMwdnhCA"
                  >as a volunteer. <i class="icon ti ti-arrow-right arrow_right"></i
                ></a>
              </p>
            </div>
          </div>
        </div>
      </section>



      {% include common-footer.html %}
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flexslider.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/twitterfetcher.min.js"></script>
    <script src="js/spectragram.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/jquery.plugin.min.js"></script>
    <script src="js/placeholders.min.js"></script>
    <script src="js/countdown.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
