---
layout: none
---

<!doctype html>
<html lang="en">
    <head>
        <title>ACM Onboarding · The Association for Computing Machinery at UTD</title>
        <meta property="og:title" content="ACM Onboarding · The Association for Computing Machinery at UTD"/>
        <meta name="description" content="We're a team of thirty officers with one goal — a greater, more collaborative engineering community at UT Dallas. We run events, workshops, HackUTD, projets, and more.">
        <meta property="og:description" content="We're a team of thirty officers with one goal — a greater, more collaborative engineering community at UT Dallas. We run events, workshops, HackUTD, projets, and more.">
        {% include common-head.html %}
    </head>
    <body>
		{% include common-nav.html %}
		
		<div class="main-container"><section class="hero-slider large-image">
				<ul class="slides">
					<li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/hero-industry.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Welcome to ACM, fam.</strong>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're excited to have you join our team. The onboarding process is a time for you to get acquainted with everything you need to know about us, and a time for us to get to know a little about you.</p>
								</div>
							</div>
						</div>	
					</li>				
				</ul>
            </section>

			<section class="large-pad">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<p class="super-lead left-align-mobile">
								We're the Association for Computing Machinery at UT Dallas. <br>We're focused on providing a better engineering experience at UT Dallas and beyond. Take a look at some of the things we do here at ACM.  
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="image-block" id="industry">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
							<div class="text-block">
								<div class="detail-line"></div>
								<h2>ACM Industry Series</h2>
								<p>
									At ACM Industry Series events, we host comapnies from around Dallas and around the country to give students an inside view of what it's like to work in the software space, and how to get there.</p>
							</div>
						</div>
					</div>
				</div>
			
				<div class="image-holder col-md-6 col-sm-4 pull-left">
					<div class="image-slider">
						<ul class="slides">
							<li>
								<div class="background-image-holder">
									<img alt="Slide Background" class="background-image" src="png/industry-mini1.jpg">
								</div>
							</li><li>
								<div class="background-image-holder">
									<img alt="Slide Background" class="background-image" src="png/industry-mini2.jpg">
								</div>
							</li>
							
							<li>
								<div class="background-image-holder">
									<img alt="Slide Background" class="background-image" src="png/industry-mini3.jpg">
								</div>
							</li>

							<li>
								<div class="background-image-holder">
									<img alt="Slide Background" class="background-image" src="png/industry-mini4.jpg">
								</div>
							</li>
						</ul>
					</div>
				</div>
			
			</section>
			
			<section class="wide-features" id="projectslabs">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="wide-feature">
								<div class="detail-line"></div>
								<h2>ACM Projects</h2>
								<p>
									ACM Projects are ACM's semester-long guided projects for those new to software development, teaching collaborative tools, new technologies, and core development principles earlier and complimentary to curriculum.
								</p>
								<a class="text-link" style="display: none;" href="#">Learn even more <i class="icon ti ti-arrow-right arrow_right"></i></a>
							</div>
						</div>
					
						<div class="col-sm-4">
							<div class="wide-feature">
								<div class="detail-line"></div>
								<h2>ACM Labs</h2>
								<p>
									ACM Labs funds and supports student projects with the intent of promoting experimentation with cutting-edge technologies.
								</p>
								<a class="text-link" style="display: none;" href="#">Learn even more <i class="icon ti ti-arrow-right arrow_right"></i></a>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="wide-feature">
								<div class="detail-line"></div>
								<h2>ACM Education</h2>
								<p>
									ACM Education tutors students in upper-level computer science courses and provides education and resources to prepare students for the industry.
								</p>
								<a class="text-link" style="display: none;" href="#">Learn even more <i class="icon ti ti-arrow-right arrow_right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="hero-project" id="hackutd">
				<div class="background-image-holder">
					<img alt="Slide Background" class="background-image" src="png/hero-hackutd.png">
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-7">
							<div class="text-block">
								<div class="detail-line"></div>
								<h2 class="text-white">ACM HackUTD</h2>
							</div>
							<p class="text-white">
								HackUTD is the official student hackathon of UT Dallas and North Texas' largest university hackathon, run by ACM in partnership with Major League Hacking. HackUTD 16 brought over 400 students together for 24 hours of ideas, code, and design, and HackUTD 17's going even bigger.
							</p>
							<a class="text-link text-white" href="http://hackutd.co">Visit hackutd.co <i class="icon ti ti-arrow-right arrow_right"></i></a>
						</div>
					</div>
				</div>
			
			</section>
			
            <section class="text-hero">          
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="text-block">
								<div class="detail-line"></div>
								<h1 class="contrast-h1">Let's get you set up</h1>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-6">
							<p class="lead">The first step is to fill out our onboarding form which has a few simple questions so that we can get to know a few important things about you. We also ask that you send in a headshot to be placed on our site. Next, you'll need to get acquainted with the tools we use. We use a variety of tools and services to help keep ourselves organized and productive. Having you consistently and effectively using these tools is crucial in keeping our entire organization running smoothly. Lastly, you'll need to get to know our policies. We're pretty chill about things but we do have some rules regarding attendance and performance to ensure everyone is performing their duties effectively.
                            <br><br>
                            <span style="font-weight: 700; color: black;">Keep scrolling to get rolling.</span>
                            </p>
						</div>
					</div>
				</div>
			</section>
            
			<section class="large-pad">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<p class="super-lead">
								Start by filling out our onboarding <a class="text-link" href="https://docs.google.com/forms/d/e/1FAIpQLSf2OPyoRLot50jT11Rt3VKVnRv2RCi7F5FzBgNMTHZ01KqrbQ/viewform?usp=sf_link">form. <i class="icon ti ti-arrow-right arrow_right"></i></a>
                            </p>
						</div>
					</div>
				</div>
			</section>
            
            <section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>Our Tools</h5>
								<h4>Here's what we use to stay productive.</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
                            <div class="col-md-6 col-sm-12">
                                <div class="narrow-feature">
                                    <div class="content">
                                        <h5>Slack</h5>
                                        Our team messaging platform. We use to Slack to keep everyone updated about everything that's going on within our organization. We'll send you an invite to join the main ACM Slack team and any other Slack teams relevant to your position.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="narrow-feature">
                                    <div class="content">
                                        <h5>GitHub</h5>
                                        GitHub is where we host our software projects and ACM's wiki content, with information regarding best practices and workflows. Send us your GitHub username so that we can invite you to the teams and repositories relevant to your position.
                                        <p><a href="http://www.github.com" class="text-link">Sign up at GitHub<i class="icon ti ti-arrow-right arrow_right"></i></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="narrow-feature">
                                    <div class="content">
                                        <h5>Google Drive</h5>
                                        We use Google Drive to host all of our media and documents.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="narrow-feature">
                                    <div class="content">
                                        <h5>Facebook</h5>
                                        We have multiple Facebook groups for various different teams and we'll invite you to the ones you'll need to be a part of. We also have a Facebook page that's meant to update our members on upcoming events and initiatives.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="narrow-feature">
                                    <div class="content">
                                        <h5>Twitter</h5>
                                        We use Twitter to publicize our events and initiatives.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="narrow-feature">
                                    <div class="content">
                                        <h5>MailChimp</h5>
                                        MailChimp is our marketing email platform used to publicize events and initiatives to those on our mailing list.
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</section>
            
            <section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>Our Policies</h5>
								<h4>Rules and guidelines you should know.</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
                            <div class="col-md-6 col-sm-12">
                                <div class="narrow-feature">
                                    <div class="content">
                                        <h5>Attendance</h5>
                                        We require all ACM officers to be present at all ACM events pertaining to their team.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="narrow-feature">
                                    <div class="content">
                                        <h5>Moving Roles</h5>
                                        We’re pretty flexible when it comes to changing roles and it’s even possible to hold a role on multiple ACM teams. Our only limitation is that you can't hold more than one position on the same team.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="narrow-feature">
                                    <div class="content">
                                        <h5>Innovation</h5>
                                        At ACM, your officer description is the bare minimum. We want you to make your position yours, and innovate and come up with cool ideas, whether it be evolving your position or making another part of ACM better.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="narrow-feature">
                                    <div class="content">
                                        <h5>Be Nice</h5>
                                        This one goes without saying, but a large part of our culture is ensuring everyone treats each other respectfully.
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</section>
            
            <section class="large-pad">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<p class="super-lead left-align-mobile">
                                Lastly, if you have any questions about your position or ACM in general, just let us know.
                                <br>
                                <span style="font-weight: 400">Welcome to the team, fam!</span>
                            </p>
						</div>
					</div>
				</div>
			</section>
			{% include common-footer.html %}
		</div>
		
				
		<script src="js/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/placeholders.min.js"></script>
        <script src="js/countdown.min.js"></script>
    	<script src="js/scripts.js"></script>
    </body>
</html>

				