---
layout: none
---

<!doctype html>
<html lang="en">
  <head>
    <title>The Association for Computing Machinery at UTD</title>
    <meta name="description" content="We're thirty officers with one goal — a greater, more collaborative engineering community at UT Dallas.">
    <meta property="og:title" content="The Association for Computing Machinery at UTD"/>
    <meta property="og:description" content="We're a team of thirty officers with one goal — a greater, more collaborative engineering community at UT Dallas.">
    <meta property="og:image" content="png/team-hero1.jpg"/>
    {% include common-head.html %}
  </head>
  <body>
		{% include common-nav.html %}
		
		<div class="main-container">
      <section class="hero-slider large-image">
        <ul class="slides">
          <li>
            <div class="background-image-holder overlay">
              <img alt="Slide Background" class="background-image" src="png/team-hero1.jpg">
            </div>
            
            <div class="container vertical-align">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-block">
                    <div class="detail-line contrast-white-detail"></div>
                    <h1 class="contrast-h1 contrast-white"><strong>ACM Projects</strong></h1>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <p class="lead contrast-white-p" style="font-size: 32px; line-height: 37px; font-weight: 300;">
                    Our semester-long guided projects initiative
                  </p>

                  
                  
                  
                </div>
              </div>
            </div>            
          </li>				
        </ul>
      </section>

      <section class="large-pad">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
              <p class="super-lead left-align-mobile">
                  ACM Projects is a semester-long guided projects initiative for those new to software development, teaching collaborative tools, new technologies, and core development principles complimentary to curriculum. 
              </p>
            </div>
          </div>
        </div>
      </section>
    
      <section class="wide-features">
				<div class="container">
					<div class="row">					
						<div class="col-sm-4">
							<div class="wide-feature">
								<div class="detail-line"></div>
								<h4>What is the application process like?</h4>
								<p>
									The first step is to fill out our application. Our application consists of general questions intended to give us insight into your previous development and leadership experience. From these applications, we select the most promising candidates for one-on-one interviews. The interview is the last step of the application process. Based on the application and interview, we select the very best candidates to create around 5 teams of 5 people.
								</p>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="wide-feature">
								<div class="detail-line"></div>
								<h4>Do I need to have prior development experience?</h4>
								<p>
									ACM Projects is designed for those new to software development. Although some experience is great, we're looking for passionate and committed candidates who have a desire to learn and grow in software development. 
								</p>
							</div>
            </div>

            <div class="col-sm-4">
              <div class="wide-feature">
                <div class="detail-line"></div>
                <h4>How do I stand out during the application process?</h4>
                <p>
                  Be genuine! We want to see your passion for technology and desire to learn. We can only judge your experience and character based on what we see in the application, so fill all of the questions out! Leaving questions blank is a lost opportunity for us to learn more about you.
                </p>
              </div>
            </div>
					</div>
				</div>
			</section>
      
      <!-- <section class="main-hero">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h5 class="events-header">Projects</h5>
              {% assign projects = site.projects %}
              {% for project in projects %}
              <div class="col-md-6 col-sm-12" style="height: 200px;  clear: right;">
                <div class="narrow-feature">
                  <div class="content">
                    <h5>{{ project.name }}</h5>
                    <p class="lead">{{ project.description }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section> -->

      <section class="wide-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="wide-feature">
								<div class="detail-line"></div>
								<h4>How is ACM Projects structured?</h4>
								<p>
                  You will be placed into a team of five students with a project and a mentor. We will have weekly (and mandatory) build nights every Wednesday from 8:30 pm - 10:00 pm. This is time for you to work with your team, meet with your mentor and learn. Some build nights may include a short tech-related workshop designed to diversify your tech skills. 
								</p>
							</div>
						</div>
					
						<div class="col-sm-4">
							<div class="wide-feature">
								<div class="detail-line"></div>
								<h4>What is the time commitment?</h4>
								<p>
									The minimum time commitment is the 1.5 hours required for each weekly build night. Beyond this, you and your team may need extra time to complete your project so it's up to you to schedule the time amongst yourselves.
								</p>
							</div>
            </div>
					</div>
				</div>
			</section>

		  {% include common-footer.html %}
		</div>
				
		<script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flexslider.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/twitterfetcher.min.js"></script>
    <script src="js/spectragram.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/jquery.plugin.min.js"></script>
    <script src="js/placeholders.min.js"></script>
    <script src="js/countdown.min.js"></script>
   	<script src="js/scripts.js"></script>
  </body>
</html>
