---
layout: none
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Association for Computing Machinery at UTD</title>
    <meta
      name="description"
      content="We're officers with one goal: building a greater, more collaborative computing community at UT Dallas."
    />
    <meta
      property="og:title"
      content="The Association for Computing Machinery at UTD"
    />
    <meta
      property="og:description"
      content="We're a team of officers with one goal: building a greater, more collaborative computing community at UT Dallas."
    />
    <meta property="og:image" content="png/team-hero1.jpg" />
    {% include common-head.html %}
  </head>
  <body>
    {% include common-nav.html %}

    <div class="main-container">
      <section class="hero-slider large-image">
        <ul class="slides">
          <li>
            <div class="background-image-holder overlay">
              <img
                alt="Slide Background"
                class="background-image"
                src="png/team-hero9.jpg"
              />
            </div>

            <div class="container vertical-align">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-block">
                    <div class="detail-line contrast-white-detail"></div>
                    <h1 class="contrast-h1 contrast-white">
                      <strong>ACM Scholarship</strong>
                    </h1>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <p
                    class="lead contrast-white-p"
                    style="font-size: 32px; line-height: 37px; font-weight: 300"
                  >
                    ACM launches the Dr. Gopal Gupta Undergraduate Scholarship
                    for Computer Science
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section class="large-pad">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
              <p class="super-lead left-align-mobile">
                We started the "Dr. Gopal Gupta
                <a
                  class="text-link"
                  target="_blank"
                  href="https://engineering.utdallas.edu/engineering/academics/undergraduate-majors/scholarships/"
                  >Undergraduate Scholarship</a
                >
                for Computer Science established by ACM 2020" in honor of its
                namesake: Dr. Gopal Gupta served as the Computer Science (CS)
                department head at UT Dallas from 2009-2020.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="wide-features">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="wide-feature">
                <div class="detail-line"></div>
                <h4>How do I apply for the scholarship? Deadlines?</h4>
                <p>
                  Although sponsored by ACM at UTD, this scholarship is now
                  managed fulled by the ECS department. You can learn more about
                  how to apply and thee process for receiving the scholarship
                  from the
                  <a
                    rel="noreferrer"
                    href="https://engineering.utdallas.edu/engineering/academics/undergraduate-majors/scholarships/"
                    target="_blank"
                    >ECS Scholarships Page</a
                  >
                  You can also find other relevant information like scholarship
                  deadlines and other criteria to be eligible to apply on the
                  ECS scholarships page as well. We insist that if you have
                  questions you get in touch directly with the ECS Scholarship
                  Committe. Our team will be unable to resolve any queries you
                  have.
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="wide-feature">
                <div class="detail-line"></div>
                <h4>Who is this scholarship for?</h4>
                <p>
                  Each year, this endowed scholarship will award one student
                  $1k, qualifying it for "competitive scholarship" status. This
                  means that if you are an out of state or international
                  student, you may receive in-state tuition for that year. For
                  this reason, we highly encourage these demographics to apply.
                  In addition to academic excellence, applicants will be
                  preferred if they have demonstrated engagement with any CS
                  student organization at UTD. Note that the scholarship is
                  awarded by a committee appointed by the Jonsson school, and
                  not ACM UTD or Prof. John Cole (our faculty sponsor). Please
                  do not get in touch with us on questions regarding this
                  scholarship.
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="wide-feature">
                <div class="detail-line"></div>
                <h4>What inspired the scholarship?</h4>
                <p>
                  Our scholarship wasas inspired by the actions and leadership
                  of Gopal Gupta (CS Dept Head 2009-2020). During this time, the
                  department grew immensely and is now the 3rd largest CS
                  department in the United States. In addition to fostering a
                  culture of undergraduate academic excellence, Dr. Gupta placed
                  a large importance on the role of student organizations within
                  the department and the Erik Jonsson School of Engineering and
                  Computer Science more broadly. One graded assignment for all
                  incoming freshmen in CS is that they attend an event outside
                  of class where they must talk to representatives from many CS
                  student organizations. Furthermore, Dr. Gupta encouraged
                  students to listen in on department meetings, provide feedback
                  on programs within the department, and present goals and
                  events to faculty members. Finally, Dr. Gupta initiated
                  efforts to start HackUTD, a university hackathon, which has
                  grown to be one of the largest in the U.S.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% include common-footer.html %}
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flexslider.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/twitterfetcher.min.js"></script>
    <script src="js/spectragram.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/jquery.plugin.min.js"></script>
    <script src="js/placeholders.min.js"></script>
    <script src="js/countdown.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
