---
layout: none
---

<!doctype html>
<html lang="en">
    <head>
        <title>ACM Team · The Association for Computing Machinery at UTD</title>
        <meta name="description" content="Join our team. We're a team of thirty officers with one goal — a greater, more collaborative engineering community at UT Dallas.">
        <meta property="og:title" content="ACM Team · The Association for Computing Machinery at UTD"/>
        <meta property="og:description" content="Join our team. We're a team of thirty officers with one goal — a greater, more collaborative engineering community at UT Dallas.">
        {% include common-head.html %}
    </head>
    <body>
		{% include common-nav.html %}
		
		<div class="main-container">
			<section class="hero-slider large-image">
				<ul class="slides">
					<li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero1.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Five teams. One goal.</strong>
											<div class="contrast-white">Here are the students keeping ACM in motion.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty officers with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero2.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Five teams. One goal.</strong>
											<div class="contrast-white">Here are the students keeping ACM in motion.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty officers with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero3.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Five teams. One goal.</strong>
											<div class="contrast-white">Here are the students keeping ACM in motion.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty officers with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero4.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Five teams. One goal.</strong>
											<div class="contrast-white">Here are the students keeping ACM in motion.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty officers with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero5.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Five teams. One goal.</strong>
											<div class="contrast-white">Here are the students keeping ACM in motion.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty officers with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero6.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Five teams. One goal.</strong>
											<div class="contrast-white">Here are the students keeping ACM in motion.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty officers with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero7.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Five teams. One goal.</strong>
											<div class="contrast-white">Here are the students keeping ACM in motion.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty officers with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero8.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Five teams. One goal.</strong>
											<div class="contrast-white">Here are the students keeping ACM in motion.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty officers with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero9.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Five teams. One goal.</strong>
											<div class="contrast-white">Here are the students keeping ACM in motion.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty officers with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="png/team-hero10.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Five teams. One goal.</strong>
											<div class="contrast-white">Here are the students keeping ACM in motion.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty officers with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li>
				
				</ul>
			</section>

			<section class="contained-projects">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="text-block">
								<div class="detail-line"></div>
								<h2>The ACM Team</h2>
							</div>
						</div>
						
					</div>
				
					<div class="row">
						<div class="col-sm-12">
							<ul class="filters">
								
							</ul>
						</div>
					</div>
				
					<div class="row">

						{% assign officers = site.officers | where: "category", "board" %}
						{% for officer in officers %}
						<div class="col-md-3 col-sm-4 project team-2" data-filter="{{ officer.filter }}">
							<div class="background-image-holder">
								<img alt="project image" class="background-image" src="png/{% if officer.photo %}{{ officer.photo }}{% else %}team-officer-default{% endif %}.jpg">
							</div>
							<h3>{{ officer.name }}</h3>
							<span>{{ officer.role }}</span>
							{% if officer.link %}<h4><a href="{{ officer.link }}"><i class="ti ti-link"></i></a></h4>{% endif %}
						</div>
						{% endfor %}

						{% assign officers = site.officers | where: "category", "hackutd" %}
						{% for officer in officers %}
						<div class="col-md-3 col-sm-4 project team-2" data-filter="{{ officer.filter }}">
							<div class="background-image-holder">
								<img alt="project image" class="background-image" src="png/{% if officer.photo %}{{ officer.photo }}{% else %}team-officer-default{% endif %}.jpg">
							</div>
							<h3>{{ officer.name }}</h3>
							<span>{{ officer.role }}</span>
							{% if officer.link %}<h4><a href="{{ officer.link }}"><i class="ti ti-link"></i></a></h4>{% endif %}
						</div>
						{% endfor %}

						{% assign officers = site.officers | where: "category", "labs" %}
						{% for officer in officers %}
						<div class="col-md-3 col-sm-4 project team-2" data-filter="{{ officer.filter }}">
							<div class="background-image-holder">
								<img alt="project image" class="background-image" src="png/{% if officer.photo %}{{ officer.photo }}{% else %}team-officer-default{% endif %}.jpg">
							</div>
							<h3>{{ officer.name }}</h3>
							<span>{{ officer.role }}</span>
							{% if officer.link %}<h4><a href="{{ officer.link }}"><i class="ti ti-link"></i></a></h4>{% endif %}
						</div>
						{% endfor %}

						{% assign officers = site.officers | where: "category", "projects" %}
						{% for officer in officers %}
						<div class="col-md-3 col-sm-4 project team-2" data-filter="{{ officer.filter }}">
							<div class="background-image-holder">
								<img alt="project image" class="background-image" src="png/{% if officer.photo %}{{ officer.photo }}{% else %}team-officer-default{% endif %}.jpg">
							</div>
							<h3>{{ officer.name }}</h3>
							<span>{{ officer.role }}</span>
							{% if officer.link %}<h4><a href="{{ officer.link }}"><i class="ti ti-link"></i></a></h4>{% endif %}
						</div>
						{% endfor %}

						{% assign officers = site.officers | where: "category", "operations" %}
						{% for officer in officers %}
						<div class="col-md-3 col-sm-4 project team-2" data-filter="{{ officer.filter }}">
							<div class="background-image-holder">
								<img alt="project image" class="background-image" src="png/{% if officer.photo %}{{ officer.photo }}{% else %}team-officer-default{% endif %}.jpg">
							</div>
							<h3>{{ officer.name }}</h3>
							<span>{{ officer.role }}</span>
							{% if officer.link %}<h4><a href="{{ officer.link }}"><i class="ti ti-link"></i></a></h4>{% endif %}
						</div>
						{% endfor %}
                        
                        {% assign officers = site.officers | where: "category", "education" %}
						{% for officer in officers %}
						<div class="col-md-3 col-sm-4 project team-2" data-filter="{{ officer.filter }}">
							<div class="background-image-holder">
								<img alt="project image" class="background-image" src="png/{% if officer.photo %}{{ officer.photo }}{% else %}team-officer-default{% endif %}.jpg">
							</div>
							<h3>{{ officer.name }}</h3>
							<span>{{ officer.role }}</span>
							{% if officer.link %}<h4><a href="{{ officer.link }}"><i class="ti ti-link"></i></a></h4>{% endif %}
						</div>
						{% endfor %}
					</div>
				</div>
			</section>
			
			<section class="text-hero">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>The History of the ACM</h5>
								<h1 class="contrast-h1"><strong>Third time's the charm.</h1>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-6">
							<p class="lead">ACM started at UT Dallas back in 1996, undergoing good times and bad, and restarting in 2004 before wrapping up in its second iteration around Fall 2012.<br><br>

							A freshman named Sumanth Nelluru started the Computer Science Student Association around this time, a small organization focused on mini coding competitions until taking over the then-defunct ACM to become the new ACM in Fall 2013.</p>
						</div>
						<div class="col-sm-6">
							<p class="lead">
								Following this, ACM, led by Sumanth Nelluru (CS '16) and Grace Kaldawi (CS '15), expanded into social events and restarting its Industry Series events, hosting companies once again and running snack bars and LAN parties.<br><br>

								In the years after, ACM underwent an internal restructure and, led by Izuchukwu Elechi (SE '16), Michael Raibick (SE '15), and Tahir Aziz (SE '17), expanded its Industry Series events, with companies from Google to Twitter, as well as launching HackUTD, ACM Projects, ACM Operations, &amp; ACM Labs.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="text-block">
								<h5><br><a class="text-link" style="display: none;" href="/15/about.html#team">The Alumni of the ACM <i class="icon ti ti-arrow-right arrow_right"></i></a></h5>
							</div>
						</div>
					</div>
				</div>

			</section>
				<div class="image-holder col-md-6 col-sm-4 pull-left">
					<div class="image-slider">
						<ul class="slides">
							<li>
								<div class="background-image-holder">
									<img alt="Slide Background" class="background-image" src="png/apply-mini1.jpg">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			{% include common-footer.html %}
		</div>
		
				
		<script src="js/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/placeholders.min.js"></script>
        <script src="js/countdown.min.js"></script>
    	<script src="js/scripts.js"></script>
    </body>
</html>

				