<section class="hero-slider large-image">
  <ul class="slides">
    <li>
      <div class="background-image-holder overlay">
        <img alt="Slide Background" class="background-image" src="/png/team-hero1.jpg">
      </div>

      <div class="container vertical-align">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-block">
              <div class="detail-line contrast-white-detail"></div>
              <h1 class="contrast-h1 contrast-white"><strong>We're the ACM.</strong>
                <div class="contrast-white">We run industry events.
                </div>
              </h1>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-sm-6">
            <p class="lead contrast-white-p">
              We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas.</p>
              <a class="text-link text-white" style="font-size: 20px; line-height: 32px;" href="https://hacktoberfest.acmutd.co">Apply for Hacktoberfest!<i class="icon ti ti-arrow-right arrow_right"></i></a><br /><br />
              <a class="text-link text-white" style="font-size: 20px; line-height: 32px;" href="/discord">Join our discord community<i class="icon ti ti-arrow-right arrow_right"></i></a>
          </div>
        </div>
      </div>	
    </li><li>
      <div class="background-image-holder overlay">
        <img alt="Slide Background" class="background-image" src="/png/hero-hackutd.jpg">
      </div>

      <div class="container vertical-align">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-block">
              <div class="detail-line contrast-white-detail"></div>
              <h1 class="contrast-h1 contrast-white"><strong>We're the ACM.</strong>
                <div class="contrast-white">We run HackUTD, North Texas' 
                </div>
                <div class="contrast-white">largest university hackathon.
                </div>
              </h1>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-sm-6">
            <p class="lead contrast-white-p">
              We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas.</p>
              <a class="text-link text-white" style="font-size: 20px; line-height: 32px;" href="https://hacktoberfest.acmutd.co">Apply for Hacktoberfest!<i class="icon ti ti-arrow-right arrow_right"></i></a><br /><br />
              <a class="text-link text-white" style="font-size: 20px; line-height: 32px;" href="/discord">Join our discord community<i class="icon ti ti-arrow-right arrow_right"></i></a>
          </div>
        </div>
      </div>	
    </li><li>
      <div class="background-image-holder overlay">
        <img alt="Slide Background" class="background-image" src="/png/hero-workshops.jpg">
      </div>

      <div class="container vertical-align">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-block">
              <div class="detail-line contrast-white-detail"></div>
              <h1 class="contrast-h1 contrast-white"><strong>We're the ACM.</strong>
                <div class="contrast-white">We run guided projects &amp;
                </div>
                <div class="contrast-white">workshops for new developers.
                </div>
              </h1>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-sm-6">
            <p class="lead contrast-white-p">
              We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas.</p>
              <a class="text-link text-white" style="font-size: 20px; line-height: 32px;" href="https://hacktoberfest.acmutd.co">Apply for Hacktoberfest!<i class="icon ti ti-arrow-right arrow_right"></i></a><br /><br />
              <a class="text-link text-white" style="font-size: 20px; line-height: 32px;" href="/discord">Join our discord community<i class="icon ti ti-arrow-right arrow_right"></i></a>
          </div>
        </div>
      </div>	
    </li><li>
      <div class="background-image-holder overlay">
        <img alt="Slide Background" class="background-image" src="/png/hero-labs.jpg">
      </div>

      <div class="container vertical-align">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-block">
              <div class="detail-line contrast-white-detail"></div>
              <h1 class="contrast-h1 contrast-white"><strong>We're the ACM.</strong>
                <div class="contrast-white">We fund cutting-edge student projects.
                </div>
              </h1>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-sm-6">
            <p class="lead contrast-white-p">
              We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas.</p>
              <a class="text-link text-white" style="font-size: 20px; line-height: 32px;" href="https://hacktoberfest.acmutd.co">Apply for Hacktoberfest!<i class="icon ti ti-arrow-right arrow_right"></i></a><br /><br />
              <a class="text-link text-white" style="font-size: 20px; line-height: 32px;" href="/discord">Join our discord community<i class="icon ti ti-arrow-right arrow_right"></i></a>
          </div>
        </div>
      </div>	
    </li><li>
      <div class="background-image-holder overlay">
        <img alt="Slide Background" class="background-image" src="/png/hero-utdallas.jpg">
      </div>

      <div class="container vertical-align">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-block">
              <div class="detail-line contrast-white-detail"></div>
              <h1 class="contrast-h1 contrast-white"><strong>We're the ACM.</strong>
                <div class="contrast-white">We run the largest student organization at UT Dallas.
                </div>
              </h1>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-sm-6">
            <p class="lead contrast-white-p">
              We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas.</p>
              <a class="text-link text-white" style="font-size: 20px; line-height: 32px;" href="https://hacktoberfest.acmutd.co">Apply for Hacktoberfest!<i class="icon ti ti-arrow-right arrow_right"></i></a><br /><br />
              <a class="text-link text-white" style="font-size: 20px; line-height: 32px;" href="/discord">Join our discord community<i class="icon ti ti-arrow-right arrow_right"></i></a>
          </div>
        </div>
      </div>	
    </li>
  
  </ul>
</section>