<div class="nav-container">
  <nav class="nav-1">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <a href="/index.html" class="home-link">
            <img alt="Logo" class="logo" src="png/acm-light.png">
          </a>
          <ul class="menu">
            <li class="has-dropdown"><a href="#">Events &amp; Activities</a>
              <ul class="subnav">
                <li><a href="/index.html#industry">ACM Industry Series</a></li>
                <li><a href="/index.html#hackutd">HackUTD</a></li>
                <li><a href="/index.html#projectslabs">ACM Projects</a></li>
                <li><a href="/index.html#projectslabs">ACM Labs</a></li>
              </ul>
            </li>
            <li><a href="/team.html">Team</a></li>
            <li><a href="/apply.html">Apply</a></li>
            <li><a href="/15/partners.html">Partners</a></li>
            <li><a href="/mailing.html">Join</a></li>
            <li><a href="/15/contact.html">Contact</a></li>
          </ul>
          <ul class="social-links">
              <li><a href="http://facebook.com/acmatutd"><i class="ti ti-facebook"></i></a></li>
              <li><a href="http://twitter.com/acm_utd"><i class="icon ti ti-twitter-alt"></i></a></li>
              <li><a href="http://github.com/acmutd"><i class="icon ti ti-github"></i></a></li>
            </ul>
          <div class="nav-functions">
          </div>
        </div>
      </div>
    </div>
  
    <div class="mobile-toggle">
      <div class="bar-1"></div>
      <div class="bar-2"></div>
    </div>
  </nav>
</div>