<div class="nav-container">
  <nav class="nav-1">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <a href="/index.html" class="home-link">
            <img alt="Logo" class="logo" src="/png/acm-light.png">
          </a>
          <ul class="menu">
            <li class="has-dropdown"><a href="/about.html">About Us</a>
              <ul class="subnav">
                <li><a href="/about.html#industry">ACM Industry Series</a></li>
                <li><a href="https://2021.hackutd.co">HackUTD</a></li>
                <li><a href="/projects">ACM Projects</a></li>
                <li><a href="https://github.com/acmutd/Development">ACM Development</a></li>
                <li><a href="/education">ACM Education</a></li>
                <li><a href="/blog/index.html">Blog</a></li>
              </ul>
            </li>
            <li><a href="/events.html">Events</a></li>
            <li><a href="/scholarship.html">Scholarship</a></li>
            <li><a href="/team.html">Team</a></li>
            <li><a href="/apply">Apply</a></li>
            <li><a href="/partners.html">Partners</a></li>
            <li><a href="/join.html">Join</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
          <ul class="social-links">
              <li><a href="https://facebook.com/acmatutd"><i class="ti ti-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/company/acmutd"><i class="icon ti ti-linkedin"></i></a></li>
              <li><a href="https://github.com/acmutd"><i class="icon ti ti-github"></i></a></li>
            </ul>
          <div class="nav-functions">
          </div>
        </div>
      </div>
    </div>
  
    <div class="mobile-toggle">
      <div class="bar-1"></div>
      <div class="bar-2"></div>
    </div>
  </nav>
</div>