<footer class="footer-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="#">
          <img alt="logo" class="logo" src="png/acm-light.png">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <span class="text-white">© Copyright <script type="text/javascript">document.write(new Date().getFullYear());</script> ACM UTD, All Rights Reserved</span>
      </div>
    
      <div class="col-sm-6 text-right">
        <ul>
          <li><a href="http://facebook.com/acmatutd" class="text-link">acm on facebook <i class="icon ti ti-arrow-right arrow_right"></i></a></li>
          <li><a href="http://twitter.com/acm_utd" class="text-link">@acm_utd <i class="icon ti ti-arrow-right arrow_right"></i></a></li>
          <li><a href="/apply.html" class="text-link">officer openings <i class="icon ti ti-arrow-right arrow_right"></i></a></li>
          <li><a href="/contact.html" class="text-link">contact us <i class="icon ti ti-arrow-right arrow_right"></i></a></li>
        </ul> 
      </div>
    </div>
  </div>  
</footer>