---
layout: none
---

<!doctype html>
<html lang="en">
  <head>
    <title>The Association for Computing Machinery at UTD</title>
    <meta name="description" content="We're officers with one goal — a greater, more collaborative engineering community at UT Dallas.">
    <meta property="og:title" content="The Association for Computing Machinery at UTD"/>
    <meta property="og:description" content="We're a team of officers with one goal — a greater, more collaborative engineering community at UT Dallas.">
    <meta property="og:image" content="/png/dallas.jpg"/>
    {% include common-head.html %}
  </head>
  <body>
		{% include common-nav.html %}
		
		<div class="main-container">
      <section class="hero-slider large-image">
        <ul class="slides">
          <li>
            <div class="background-image-holder overlay">
              <img alt="Slide Background" class="background-image" src="/png/dallas.jpg">
            </div>
            
            <div class="container vertical-align">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text-block">
                    <div class="detail-line contrast-white-detail"></div>
                    <h1 class="contrast-h1 contrast-white"><strong>AT&#38;T Live</strong></h1>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <p class="lead contrast-white-p" style="font-size: 32px; line-height: 37px; font-weight: 300;">
                    Here's an exciting upcoming event from AT&#38;T!
                  </p>
                </div>
              </div>
            </div>            
          </li>				
        </ul>
      </section>
      
      <section class="text-hero">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="text-block">
									<div class="detail-line"></div>
									<h5>AT&#38;T Technology Development Program</h5>
									<h1 class="contrast-h1">AT&#38;T Live!</h1>
								</div>
							</div>
						</div>
					
						<div class="row">
							<div class="col-sm-4">
								<p class="lead">October 2018<br>
									AT&#38;T Corporate Headquarters<br>
									Dallas, TX
								</p>
							</div>
							<div class="col-sm-6">
								<p class="lead">Graduating in May 2019 and looking for full-time positions? <br><br>This year, AT&#38;T is hosting an event for their Technology Development Program called AT&#38;T Live! It will take place in the second week of October 2018 at AT&#38;T's corporate headquarters in Dallas, TX. It’s an all-expenses paid trip where candidates will have a chance to connect with our top innovators and test-drive our latest technology.  Also, you will have the opportunity to learn about our Development Programs straight from the experts. Not only will you network with some of AT&#38;T’s senior leaders and technology gurus, but you might even leave with a job offer!</p>
								<p class="lead">Please send your resume to comet.acm@gmail.com to apply, the deadline is August 1, 2018.</p>
							</div>
						</div>
					</div>
      </section>
      
      <section class="large-pad">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/7Ov6gW69nRw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</section>
      
      <section class="main-hero">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h5 class="events-header">Qualifications</h5>
              
              <div class="col-md-6 col-sm-12" style="height: auto; float: right;">
                <div class="narrow-feature">
                  <div class="content">
                    <h5>Technology Development Program — Software Development</h5>
                    <p class="lead">
                      <ul style="list-style: disc; padding-left: 20px;">
                        <li>Computer Science Undergraduate</li>
                        <li>Graduating May 2019</li>
                        <li>Minimum of 2 internships within field of study or minimum of 1 internship and Senior Capstone</li>
                        <li>Preferred GPA of 3.3 or higher</li>
                        <li>Leadership experience: Campus club, Eagle Scout, etc.</li>
                        <li>Technical aptitude, strong analytical skills, problem solver, team oriented</li>
                        <li>Successful completion of technical assessment with qualifying score.</li>
                        <li>Locations: Dallas, Atlanta, El Segundo, &#38; Middletown</li>
                      </ul>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-12" style="height: 400px; float: right;">
                <div class="narrow-feature">
                  <div class="content">
                    <h5>Technology Development Program — Engineering &#38; Operations</h5>
                    <p class="lead">
                      <ul style="list-style: disc; padding-left: 20px;">
                        <li>STEM Undergraduate or Masters (CS, CIS, MIS, CE, IE, EE, &#38; Math), ALL need to have some programming skills</li>
                        <li>Graduating May 2019</li>
                        <li>Minimum of 2 internships within field of study or minimum of 1 internship and Senior Capstone</li>
                        <li>Preferred GPA of 3.3 or higher</li>
                        <li>Leadership experience: Campus club, Eagle Scout, etc.</li>
                        <li>Technical aptitude, strong analytical skills, problem solver, team oriented</li>
                        <li>Dallas &#38; Atlanta are primary focus</li>
                      </ul>
                    </p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>

		  {% include common-footer.html %}
		</div>
				
		<script src="/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/flexslider.min.js"></script>
    <script src="/js/lightbox.min.js"></script>
    <script src="/js/twitterfetcher.min.js"></script>
    <script src="/js/spectragram.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
    <script src="/js/jquery.plugin.min.js"></script>
    <script src="/js/placeholders.min.js"></script>
    <script src="/js/countdown.min.js"></script>
   	<script src="/js/scripts.js"></script>
  </body>
</html>
