---
layout: none
---

<!doctype html>
<html lang="en">
    <head>
        <title>Apply to the ACM · The Association for Computing Machinery at UTD</title>
        <meta name="description" content="Join our team. We're thirty students with one goal — a greater, more collaborative engineering community at UT Dallas.">
        <meta property="og:title" content="Apply to the ACM · The Association for Computing Machinery at UTD"/>
        <meta property="og:description" content="Join our team. We're a team of thirty students with one goal — a greater, more collaborative engineering community at UT Dallas.">
        <meta property="og:image" content="/png/team-hero1.jpg"/>
        {% include common-head.html %}
    </head>
    <body>
		{% include common-nav.html %}
		
		<div class="main-container">
			<section class="hero-slider large-image">
				<ul class="slides">
					<li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="/png/team-hero1.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br class="mobile-break">community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="/png/team-hero2.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br class="mobile-break">community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="/png/team-hero3.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br class="mobile-break">community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="/png/team-hero4.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br class="mobile-break">community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="/png/team-hero5.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br class="mobile-break">community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="/png/team-hero6.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br class="mobile-break">community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="/png/team-hero7.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br class="mobile-break">community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="/png/team-hero8.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br class="mobile-break">community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="/png/team-hero9.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br class="mobile-break">community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li><li>
						<div class="background-image-holder overlay">
							<img alt="Slide Background" class="background-image" src="/png/team-hero10.jpg">
						</div>
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-block">
										<div class="detail-line contrast-white-detail"></div>
										<h1 class="contrast-h1 contrast-white"><strong>Apply to the team.</strong>
											<div class="contrast-white">Let's build a greater engineering<br class="mobile-break">community, together.
											</div>
										</h1>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-sm-6">
									<p class="lead contrast-white-p">
										We're a team of thirty students with one goal — a greater, more collaborative engineering community at The University of Texas at Dallas. Join us.</p>
								</div>
							</div>
						</div>	
					</li>
				
				</ul>
			</section>
			
			<section class="text-hero">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM Culture</h5>
								<h1 class="contrast-h1"><strong>We get work done. We have fun.</h1>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-6">
							<p class="lead">At ACM, we work a bit differently than the average student organization. Autonomy is key at ACM, and we let officers make their positions theirs and take ownership of their work.
							</p>
						</div>
						<div class="col-sm-6">
							<p class="lead">
								Doing your job is the minimum, and innovating in your position is expected. When as a team we can rely on each other, we can have fun building great events, programs, and initiatives.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="text-block">
								<h5><br><a class="text-link" href="/team.html">Check out the current team <i class="icon ti ti-arrow-right arrow_right"></i></a></h5>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="large-pad">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<p class="super-lead left-align-mobile">
								Multiple applications. One Form. 
							</p>
							<p class="left-align-mobile">
								We've streamlined our application process. After looking at the descriptions below for the ACM Officer position you'd like to apply for, head over to <a href="/applications">acmutd.co/applications</a> to apply for positions across the ACM Board of Directors, Operations, Projects, Education, Labs, &amp; HackUTD.
                            </p>
                            <p class="left-align-mobile">
                                Note that ACM Staff openings (incl. Projects mentors and Education tutors) require a separate application. The links for these applications are available in the opening listing.
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM Board of Directors</h5>
								<h4>Openings for ACM's Executive Board of Directors</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
							{% assign openings = site.openings | where: "team", "board" %}
							{% if openings.size == 0 %}
								<div class="col-md-6 col-sm-12">
									<div class="narrow-feature">
										<div class="content">
											<h5>No openings</h5>
											<p>Thanks for your interest, but we're not hiring on this team at this time.</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for opening in openings %}
								    <div class="col-md-6 col-sm-12">
										<div class="narrow-feature">
											<div class="content">
												<h5>{{ opening.title }}</h5>
												{{ opening.content }}
												{% if opening.application %}
												<p><a href="{{ opening.application }}" class="text-link">Apply at {{ opening.application }} <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% else %}
												<p><a href="/applications" class="text-link">Apply <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% endif %}
											</div>
										</div>
									</div>
							    {% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</section>

			<section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM HackUTD</h5>
								<h4>Openings for the organizing team of the official hackathon of UT Dallas</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
							{% assign openings = site.openings | where: "team", "hackutd" %}
							{% if openings.size == 0 %}
								<div class="col-md-6 col-sm-12">
									<div class="narrow-feature">
										<div class="content">
											<h5>No openings</h5>
											<p>Thanks for your interest, but we're not hiring on this team at this time.</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for opening in openings %}
								    <div class="col-md-6 col-sm-12">
										<div class="narrow-feature">
											<div class="content">
												<h5>{{ opening.title }}</h5>
												{{ opening.content }}
												{% if opening.application %}
												<p><a href="{{ opening.application }}" class="text-link">Apply at {{ opening.application }} <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% else %}
												<p><a href="/applications" class="text-link">Apply <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% endif %}
											</div>
										</div>
									</div>
							    {% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</section>

			<section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM Projects</h5>
								<h4>Openings for ACM's guided projects initiative</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
							{% assign openings = site.openings | where: "team", "projects" %}
							{% if openings.size == 0 %}
								<div class="col-md-6 col-sm-12">
									<div class="narrow-feature">
										<div class="content">
											<h5>No openings</h5>
											<p>Thanks for your interest, but we're not hiring on this team at this time.</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for opening in openings %}
								    <div class="col-md-6 col-sm-12">
										<div class="narrow-feature">
											<div class="content">
												<h5>{{ opening.title }}</h5>
												{{ opening.content }}
												{% if opening.application %}
												<p><a href="{{ opening.application }}" class="text-link">Apply at {{ opening.application }} <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% else %}
												<p><a href="/applications" class="text-link">Apply <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% endif %}
											</div>
										</div>
									</div>
							    {% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</section>

			<section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM Ignite Program</h5>
								<h4>Apply for ACM's Ignite program designed for more advanced students</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
							{% assign openings = site.openings | where: "team", "ignite" %}
							{% if openings.size == 0 %}
								<div class="col-md-6 col-sm-12">
									<div class="narrow-feature">
										<div class="content">
											<h5>No openings</h5>
											<p>Thanks for your interest, but this program is not open for applications at this time.</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for opening in openings %}
								    <div class="col-md-6 col-sm-12">
										<div class="narrow-feature">
											<div class="content">
												<h5>{{ opening.title }}</h5>
												{{ opening.content }}
												{% if opening.application %}
												<p><a href={{ opening.application }}" class="text-link">Apply at {{ opening.application }} <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% else %}
												<p><a href="/applications" class="text-link">Apply <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% endif %}
											</div>
										</div>
									</div>
							    {% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</section>

			<section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM Mentor Program</h5>
								<h4>Apply for ACM's mentor program designed for incoming freshmen</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
							{% assign openings = site.openings | where: "team", "mentor" %}
							{% if openings.size == 0 %}
								<div class="col-md-6 col-sm-12">
									<div class="narrow-feature">
										<div class="content">
											<h5>No openings</h5>
											<p>Thanks for your interest, but this program is not open for applications at this time.</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for opening in openings %}
								    <div class="col-md-6 col-sm-12">
										<div class="narrow-feature">
											<div class="content">
												<h5>{{ opening.title }}</h5>
												{{ opening.content }}
												{% if opening.application %}
												<p><a href={{ opening.application }}" class="text-link">Apply at {{ opening.application }} <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% else %}
												<p><a href="/applications" class="text-link">Apply <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% endif %}
											</div>
										</div>
									</div>
							    {% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</section>

			<section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM Labs</h5>
								<h4>Openings for ACM's research &amp; development team</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
							{% assign openings = site.openings | where: "team", "labs" %}
							{% if openings.size == 0 %}
								<div class="col-md-6 col-sm-12">
									<div class="narrow-feature">
										<div class="content">
											<h5>No openings</h5>
											<p>Thanks for your interest, but we're not actively hiring on this team at this time.</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for opening in openings %}
								    <div class="col-md-6 col-sm-12">
										<div class="narrow-feature">
											<div class="content">
												<h5>{{ opening.title }}</h5>
												{{ opening.content }}
												{% if opening.application %}
												<p><a href="{{ opening.application }}" class="text-link">Apply at {{ opening.application }} <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% else %}
												<p><a href="/applications" class="text-link">Apply <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% endif %}
											</div>
										</div>
									</div>
							    {% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</section>
                
      <section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM Education</h5>
								<h4>Openings for ACM's tutoring initiative</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
							{% assign openings = site.openings | where: "team", "education" %}
							{% if openings.size == 0 %}
								<div class="col-md-6 col-sm-12">
									<div class="narrow-feature">
										<div class="content">
											<h5>No openings</h5>
											<p>Thanks for your interest, but we're not actively hiring on this team at this time.</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for opening in openings %}
								    <div class="col-md-6 col-sm-12">
										<div class="narrow-feature">
											<div class="content">
												<h5>{{ opening.title }}</h5>
												{{ opening.content }}
												{% if opening.application %}
												<p><a href="{{ opening.application }}" class="text-link">Apply at {{ opening.application }} <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% else %}
												<p><a href="/applications" class="text-link">Apply <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% endif %}
											</div>
										</div>
									</div>
							    {% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</section>

			<!--<section class="narrow-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>ACM Operations</h5>
								<h4>Openings for ACM's detail-oriented event ops team</h4>
							</div>
						</div>
					
						<div class="col-sm-8">
							{% assign openings = site.openings | where: "team", "operations" %}
							{% if openings.size == 0 %}
								<div class="col-md-6 col-sm-12">
									<div class="narrow-feature">
										<div class="content">
											<h5>No openings</h5>
											<p>Thanks for your interest, but we're not hiring on this team at this time.</p>
										</div>
									</div>
								</div>
							{% else %}
								{% for opening in openings %}
								    <div class="col-md-6 col-sm-12">
										<div class="narrow-feature">
											<div class="content">
												<h5>{{ opening.title }}</h5>
												{{ opening.content }}
												{% if opening.application %}
												<p><a href="{{ opening.application }}" class="text-link">Apply at {{ opening.application }} <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% else %}
												<p><a href="/applications" class="text-link">Apply <i class="icon ti ti-arrow-right arrow_right"></i></a></p>
												{% endif %}
											</div>
										</div>
									</div>
							    {% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</section>-->

			<section class="image-block">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
							<div class="text-block">
								<div class="detail-line"></div>
								<h2>The Interview Process</h2>
								<p>
									ACM's interview process for ACM Officers is simple. It starts with an online application, and if selected, leads to an in-person interview with the President, VP, and on a team, the relevant Director.
                                </p>
                                <p>
                                    For ACM Staff, including ACM Projects mentors, ACM Education tutors and ACM Labs developers, we provide information specific to that interview process on their application forms.
                                </p>
							</div>
						</div>
					</div>
				</div>
			
				<div class="image-holder col-md-6 col-sm-4 pull-left">
					<div class="image-slider">
						<ul class="slides">
							<li>
								<div class="background-image-holder">
									<img alt="Slide Background" class="background-image" src="/png/apply-mini1.jpg">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			{% include common-footer.html %}
		</div>
		
				
		<script src="/js/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/flexslider.min.js"></script>
        <script src="/js/lightbox.min.js"></script>
        <script src="/js/twitterfetcher.min.js"></script>
        <script src="/js/spectragram.min.js"></script>
        <script src="/js/smooth-scroll.min.js"></script>
        <script src="/js/jquery.plugin.min.js"></script>
        <script src="/js/placeholders.min.js"></script>
        <script src="/js/countdown.min.js"></script>
    	<script src="/js/scripts.js"></script>
    </body>
</html>

				
