
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Pivot | Blog Single</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
		<div class="nav-container">
			<nav class="top-bar overlay-bar">
				<div class="container">
				
					<div class="row utility-menu">
						<div class="col-sm-12">
							<div class="utility-inner clearfix">
								<span class="alt-font"><i class="icon icon_pin"></i> 300 Collins St Melbourne</span>
								<span class="alt-font"><i class="icon icon_mail"></i> hello@pivot.net</span>
							
								<div class="pull-right">
									<a href="login.html" class="btn btn-primary btn-white btn-xs">Login</a>
									<a href="#" class="btn btn-primary btn-filled btn-xs">Signup</a>
									<a href="#" class="language"><img alt="English" src="img/english.png"></a>
									<a href="#" class="language"><img alt="English" src="img/denmark.png"></a>
								</div>
							</div>
						</div>
					</div><!--end of row-->
				
				
					<div class="row nav-menu">
						<div class="col-sm-3 col-md-2 columns">
							<a href="index.html">
								<img class="logo logo-light" alt="Logo" src="img/logo-light.png">
								<img class="logo logo-dark" alt="Logo" src="img/logo-dark.png">
							</a>
						</div>
					
						<div class="col-sm-9 col-md-10 columns">
							<ul class="menu">
								<li class="has-dropdown"><a href="#">Home Pages</a>
									<div class="subnav subnav-fullwidth">
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="index.html">Home Classic</a></li>
												<li><a href="home-2.html">Home Education</a></li>
												<li><a href="home-3.html">Home Business</a></li>
												<li><a href="home-4.html">Home Agency</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="home-5.html">Home Corporate</a></li>
												<li><a href="personal.html">Home Personal</a></li>
												<li><a href="launching-soon-2.html">Service Launch</a></li>
												<li><a href="launching-soon.html">Product Launch</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="home-resume.html">Home Resume</a></li>
												<li><a href="launching-soon-3.html">Launch with video</a></li>
												<li><a href="coming-soon.html">Launch with countdown</a></li>	
												<li><a href="one-page.html">One Page</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<a class="btn btn-primary" href="http://www.mediumra.re/pivot/variant/builder.html">Build your own</a>
											<a class="btn btn-primary btn-filled" href="#">Purchase Pivot</a>
										</div>
									</div>
								</li>
								<li class="has-dropdown"><a href="#">Pages</a>
									<ul class="subnav">
										<li><a href="about.html">About Us</a></li>
										<li><a href="about-2.html">About Us 2</a></li>
										<li><a href="services.html">Services</a></li>
										<li><a href="services-2.html">Services 2</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="404.html">404 Error</a></li>
										<li><a href="500.html">500 Error</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a  href="#">Blog</a>
									<div class="subnav subnav-halfwidth">
										<div class="col-sm-6">
											<h6 class="alt-font">Article Lists</h6>
											<ul class="subnav">
												<li><a href="blog-masonry.html">Masonry</a></li>
												<li><a href="blog-masonry-sidebar.html">Masonry Sidebar</a></li>
												<li><a href="blog.html">Blog Large List</a></li>
												<li><a href="blog-large-image.html">Blog Image List</a></li>
											</ul>	
										</div>
								
										<div class="col-sm-6">
											<h6 class="alt-font">Article Singles</h6>
											<ul class="subnav">
												<li><a href="blog-single.html">Article Basic</a></li>
												<li><a href="blog-single-2.html">Article Basic 2</a></li>
												<li><a href="blog-single-sidebar.html">Article Sidebar</a></li>
												<li><a href="blog-single-media.html">Article Media</a></li>
											</ul>	
										</div>
									</div>
								</li>
								<li class="has-dropdown"><a href="#">Projects</a>
									<ul class="subnav">
										<li><a href="projects.html">Projects Fullwidth</a></li>
										<li><a href="projects-2.html">Projects Contained</a></li>
										<li><a href="project-single-2.html">Project Single</a></li>
										<li><a href="project-single.html">Project Single 2</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a href="#">Contact</a>
									<ul class="subnav">
										<li><a href="contact-3.html">Large Map</a></li>
										<li><a href="contact-2.html">Map with form</a></li>
										<li><a href="contact.html">Header with form</a></li>
										<li><a href="contact-4.html">Fullscreen photo</a></li>
									</ul>
								</li>
							</ul>

							<ul class="social-icons text-right">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div><!--end of row-->
					
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div><!--end of container-->
			</nav>
		
		</div>
		
		<div class="main-container">
			<header class="title">
					<div class="background-image-holder parallax-background">
						<img class="background-image" alt="Background Image" src="img/hero13.jpg">
					</div>
					
					<div class="container align-bottom">
						<div class="row">
							<div class="col-xs-12">
								<h1 class="text-white">Creating a deliciously usable CMS free blog page</h1>
								<span class="sub alt-font text-white">15th July 2014 - 3 Minute Read</span>
							</div>
						</div><!--end of row-->
					</div><!--end of container-->
			</header>
			
			<section class="article-single">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
							<div class="article-body">
								<p class="lead">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								</p>
							
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
								</p>
								<div class="media-holder">
									<iframe src="http://player.vimeo.com/video/106181453"></iframe>
								</div>
								<p>
									At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
								</p>
								<h2>A mid-post heading for some attention</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
								</p>
								<blockquote>
									“Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est”
								</blockquote>
								<p>
									Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
								</p>
							</div><!--end of article body-->
						</div>
					</div><!--end of row-->
					
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<div class="author-details">
								<img alt="Author" src="img/team-small-1.png">
								<h5>Chip Mayer</h5>
								<p>
									Molly Lautamo is a freelance writer and conservationist. She currently works as the Admissions Coordinator and oversees communications at the Seymour Marine Discovery Center in Santa Cruz, CA.
								</p>
								<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_tumblr"></i>
									</a>
								</li>
							</ul>
							</div>
						</div>
					</div><!--end of row-->
					
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
							<div class="comment-list">
								<h5>4 Comments</h5>
								<ol>
									<li>
										<div class="blog-comment">
											<div class="user">
												<img alt="User" src="img/team-small-2.png" />
											</div>
											<div class="message">
												<div class="info">
													<h6>Chip Mayer</h6>
													<span class="date alt-font sub">September 17 2014</span>
													<a href="#" class="link-text">Reply</a>
												</div>
												<p>
													Under my tutelage, you will grow from boys to men. From men into gladiators. And from gladiators into Swansons.
												</p>
											</div>
										</div>
									</li><!--end of individual comment-->
									
									<li>
										<div class="blog-comment">
											<div class="user">
												<img alt="User" src="img/team-small-3.png" />
											</div>
											<div class="message">
												<div class="info">
													<h6>Rita Repulsa</h6>
													<span class="date alt-font sub">September 18 2014</span>
													<a href="#" class="link-text">Reply</a>
												</div>
												<p>
													Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
												</p>
											</div>
										</div>
									</li><!--end of individual comment-->
									
									<ul class="children">
										<li>
											<div class="blog-comment">
												<div class="user">
													<img alt="User" src="img/team-small-4.png" />
												</div>
												<div class="message">
													<div class="info">
														<h6>Robin Banks</h6>
														<span class="date alt-font sub">September 17 2014</span>
														<a href="#" class="link-text">Reply</a>
													</div>
													<p>
														Under my tutelage, you will grow from boys to men. From men into gladiators. And from gladiators into Swansons.
													</p>
												</div>
											</div>
										</li><!--end of individual comment-->
									</ul>
									
									<li>
										<div class="blog-comment">
											<div class="user">
												<img alt="User" src="img/team-small-1.png" />
											</div>
											<div class="message">
												<div class="info">
													<h6>Bill Thompson</h6>
													<span class="date alt-font sub">September 12 2014</span>
													<a href="#" class="link-text">Reply</a>
												</div>
												<p>
													Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
												</p>
											</div>
										</div>
									</li><!--end of individual comment-->
									
								</ol>
							</div><!--end of comments list-->
							
							<div class="comment-form-wrapper">
								<h5>Join the conversation</h5>
								<p>
									Your email address will not be published. Required fields are marked *
								</p>
								<div class="comment-respond">
									<h5>Leave a reply</h5>
									<form class="comment-form">
										<div class="form-input">
											<input type="text" placeholder="Your Name" />
										</div>
										
										<div class="form-input">
											<input type="text" placeholder="Your Email" />
										</div>
										
										<div class="form-input">
											<input type="text" placeholder="Website" />
										</div>
										
										<div class="form-input">
											<textarea rows="8" placeholder="Your comment here"></textarea>
										</div>
										
										<div class="form-input">
											<input type="Submit" class="btn btn-primary" value="Submit Comment" />
										</div>
										
									</form>
								</div>
							</div><!--end of comment form wrapper-->
						</div><!--end of 8 columns-->
					</div><!--end of row-->
					
				</div><!--end of container-->	
			</section>
		</div>
		
		<div class="footer-container">
		
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white">© 2014 Pivot Inc.</span>
							<span class="text-white"><a href="#">hello@pivot.net</a></span>
							<span class="text-white">+614 3827 492</span>
							<span class="text-white">300 Collins St. Melbourne 3000</span>
						</div>
					</div><!--end for row-->
				</div><!--end of container-->
				
				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_mail"></i>
						<a href="contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
					</div>
				</div>
			</footer>
		</div>
				
		<script src="js/jquery.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/scrollReveal.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/twitterFetcher_v10_min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
				