
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>Pivot | Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme-aquatica.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
		<div class="nav-container">
			<nav class="top-bar">
				<div class="container">
				
					<div class="row utility-menu">
						<div class="col-sm-12">
							<div class="utility-inner clearfix">
								<span class="alt-font"><i class="icon icon_pin"></i> 300 Collins St Melbourne</span>
								<span class="alt-font"><i class="icon icon_mail"></i> hello@pivot.net</span>
							
								<div class="pull-right">
									<a href="login.html" class="btn btn-primary login-button btn-xs">Login</a>
									<a href="#" class="btn btn-primary btn-filled btn-xs">Signup</a>
									<a href="#" class="language"><img alt="English" src="img/english.png"></a>
									<a href="#" class="language"><img alt="English" src="img/denmark.png"></a>
								</div>
							</div>
						</div>
					</div><!--end of row-->
				
				
					<div class="row nav-menu">
						<div class="col-sm-3 col-md-2 columns">
							<a href="index.html">
								<img class="logo logo-light" alt="Logo" src="img/logo-light.png">
								<img class="logo logo-dark" alt="Logo" src="img/logo-dark.png">
							</a>
						</div>
					
						<div class="col-sm-9 col-md-10 columns">
							<ul class="menu">
								<li class="has-dropdown"><a href="#">Home Pages</a>
									<div class="subnav subnav-fullwidth">
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="index.html">Home Classic</a></li>
												<li><a href="home-2.html">Home Education</a></li>
												<li><a href="home-3.html">Home Business</a></li>
												<li><a href="home-4.html">Home Agency</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="home-5.html">Home Corporate</a></li>
												<li><a href="personal.html">Home Personal</a></li>
												<li><a href="launching-soon-2.html">Service Launch</a></li>
												<li><a href="launching-soon.html">Product Launch</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="home-resume.html">Home Resume</a></li>
												<li><a href="launching-soon-3.html">Launch with video</a></li>
												<li><a href="coming-soon.html">Launch with countdown</a></li>	
												<li><a href="one-page.html">One Page</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<a class="btn btn-primary" href="http://www.mediumra.re/pivot/variant/builder.html">Build your own</a>
											<a class="btn btn-primary btn-filled" href="#">Purchase Pivot</a>
										</div>
									</div>
								</li>
								<li class="has-dropdown"><a href="#">Pages</a>
									<ul class="subnav">
										<li><a href="about.html">About Us</a></li>
										<li><a href="about-2.html">About Us 2</a></li>
										<li><a href="services.html">Services</a></li>
										<li><a href="services-2.html">Services 2</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="404.html">404 Error</a></li>
										<li><a href="500.html">500 Error</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a  href="#">Blog</a>
									<div class="subnav subnav-halfwidth">
										<div class="col-sm-6">
											<h6 class="alt-font">Article Lists</h6>
											<ul class="subnav">
												<li><a href="blog-masonry.html">Masonry</a></li>
												<li><a href="blog-masonry-sidebar.html">Masonry Sidebar</a></li>
												<li><a href="blog.html">Blog Large List</a></li>
												<li><a href="blog-large-image.html">Blog Image List</a></li>
											</ul>	
										</div>
								
										<div class="col-sm-6">
											<h6 class="alt-font">Article Singles</h6>
											<ul class="subnav">
												<li><a href="blog-single.html">Article Basic</a></li>
												<li><a href="blog-single-2.html">Article Basic 2</a></li>
												<li><a href="blog-single-sidebar.html">Article Sidebar</a></li>
												<li><a href="blog-single-media.html">Article Media</a></li>
											</ul>	
										</div>
									</div>
								</li>
								<li class="has-dropdown"><a href="#">Projects</a>
									<ul class="subnav">
										<li><a href="projects.html">Projects Fullwidth</a></li>
										<li><a href="projects-2.html">Projects Contained</a></li>
										<li><a href="project-single-2.html">Project Single</a></li>
										<li><a href="project-single.html">Project Single 2</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a href="#">Contact</a>
									<ul class="subnav">
										<li><a href="contact-3.html">Large Map</a></li>
										<li><a href="contact-2.html">Map with form</a></li>
										<li><a href="contact.html">Header with form</a></li>
										<li><a href="contact-4.html">Fullscreen photo</a></li>
									</ul>
								</li>
							</ul>

							<ul class="social-icons text-right">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div><!--end of row-->
					
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div><!--end of container-->
			</nav>
		</div>
		<div class="main-container">
			<section class="hero-slider">
				<ul class="slides">
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="img/hero17.jpg">
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
					
					<!--end of individual slide-->
					
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="img/hero7.jpg">
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
					
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="img/hero9.jpg">
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
				</ul>
			</section>
			
			<section class="primary-features duplicatable-content">
				<div class="container">
					<div class="row">
		
							<div class="col-md-4 col-sm-6 clearfix">
								<div class="feature feature-icon-small">
									<i class="icon icon-document"></i>
									<h6 class="text-white">Fully Documented</h6>
									<p class="text-white">
										Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
									</p>
								</div><!--end of feature-->
							</div>
						
							<div class="col-md-4 col-sm-6 clearfix">
								<div class="feature feature-icon-small">
									<i class="icon icon-linegraph"></i>
									<h6 class="text-white">Flexible &amp; Modular</h6>
									<p class="text-white">
										Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
									</p>
								</div><!--end of feature-->
							</div>
						
							<div class="col-md-4 col-sm-6 clearfix">
								<div class="feature feature-icon-small">
									<i class="icon icon-target"></i>
									<h6 class="text-white">Super Sleek Icons</h6>
									<p class="text-white">
										Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
									</p>
								</div><!--end of feature-->
							</div>
		
					</div><!--end of row-->
				
				</div><!--end of container-->
			</section>
			
			<section class="side-image text-heavy clearfix">
				<div class="image-container col-md-5 col-sm-3 pull-left">
					<div class="background-image-holder">
						<img class="background-image" alt="Background Image" src="img/side2.jpg">
					</div>
				</div>
				
				<div class="container">
				
					<div class="row">
				
						<div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix">
							<h1>Welcome to Pivot</h1>
							<p class="lead">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
							</p>
							<a href="" class="btn btn-primary">Purchase Pivot</a><br>
							<div class="col-sm-6 no-pad-left feature">
								<h5>Tons Of Elements</h5>
								<p>
									Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor
								</p>
							</div>
						
							<div class="col-sm-6 no-pad-left feature">
								<h5>Video Walkthroughs</h5>
								<p>
									Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor
								</p>
							</div>
						</div>
					
					</div><!--end of row-->
				
				</div>
			</section>
			
			<section class="duplicatable-content">
			
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1>Showcase services in a<br>spacious &amp; clean manner</h1>
						</div>
					</div><!--end of row-->
		
					<div class="row">
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-genius"></i>
								</div>
								<div class="pull-right">
									<h5>Distinct Visual Style</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div><!--end 6 col-->
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-linegraph"></i>
								</div>
								<div class="pull-right">
									<h5>Multiple Demos</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div><!--end 6 col-->
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-tools-2"></i>
								</div>
								<div class="pull-right">
									<h5>Flexible Page Builder</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div><!--end 6 col-->
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-desktop"></i>
								</div>
								<div class="pull-right">
									<h5>Fully Responsive</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div><!--end 6 col-->
						
					</div><!--end of row-->
				</div>
			
			</section>
			
			<section class="side-image clearfix">
				
				<div class="container">
					<div class="row">
						<div class="col-md-6 content col-sm-8 clearfix">
							<h1>Keep up with the latest happenings</h1>
		
							<ul class="blog-snippet-2">
								<li>
									<div class="icon">
										<i class="icon icon-pencil"></i>
									</div>
									<div class="title">
										<a href="#">Building layouts that have established vertical rhythm.</a>
										<span class="sub alt-font">Published on July 15th 2014</span>
									</div>
								</li>
								
								<li>
									<div class="icon">
										<i class="icon icon-calendar"></i>
									</div>
									<div class="title">
										<a href="#">Discussing the latest design trends and how they impact on the theme marketplace</a>
										<span class="sub alt-font">Published on July 10th 2014</span>
									</div>
								</li>
								
								<li>
									<div class="icon">
										<i class="icon icon-newspaper"></i>
									</div>
									<div class="title">
										<a href="#">Variant: Our new page building tool has just been released, now let's all celebrate shall we!?</a>
										<span class="sub alt-font">Published on July 7th 2014</span>
									</div>
								</li>
								
								<li>
									<div class="icon">
										<i class="icon icon-pencil"></i>
									</div>
									<div class="title">
										<a href="#">How to manage customer expectations when launching a new product</a>
										<span class="sub alt-font">Published on July 3rd 2014</span>
									</div>
								</li>
							</ul>	
							
							</div><!--end of row-->
					
						
					</div><!--end of container-->
				</div>
				
				<div class="image-container col-md-5 col-sm-3 pull-right">
					<div class="background-image-holder">
						<img class="background-image" alt="Background Image" src="img/hero10.jpg">
					</div>
				</div>
				
			</section>
			
			<section class="clients-2">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client1.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client2.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client3.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client4.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client5.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client6.png">
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
			
			<section class="no-pad clearfix">
				
				<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
							<img class="background-image" alt="Background Image" src="img/header2.jpg">
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">study advice</span>
							<h1 class="text-white">Planning the perfect gap year travel experience.</h1>
							<p class="text-white">
								Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
							</p>
							<a href="#" class="btn btn-primary btn-white">Tell Me More</a>
						</div>
					</div>
					
				</div>
				
				<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
							<img class="background-image" alt="Background Image" src="img/hero8.jpg">
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">back to uni</span>
							<h1 class="text-white">An uncluttered desk means a clear, productive mind.</h1>
							<p class="text-white">
								Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
							</p>
							<a href="#" class="btn btn-primary btn-white">Tell Me More</a>
						</div>
					</div>
				</div>
				
			</section>
			
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<i class="icon icon-jumbo social_twitter"></i>
							<div id="tweets" data-widget-id="492085717044981760">
							
							</div>
							<p>
								Follow us <strong><a href="#">@mrareweb</a></strong> for more awesome updates
							</p>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
		</div>
		<div class="footer-container">
			
		
			<footer class="short bg-secondary-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-10">
							<span class="sub">© Copright 2014 Medium Rare</span>
							<ul>
								<li><a href="#">Terms Of Use</a></li>
								<li><a href="#">Privacy &amp; Security Statement</a></li>
								<li><a href="#">Sitemap</a></li>
							</ul>
						</div>
						
						<div class="col-sm-2 text-right">
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
							</ul>	
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</footer>
		</div>
				
		<script src="js/jquery.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/scrollReveal.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/twitterFetcher_v10_min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
				