
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>Pivot | Home 3</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme-blues.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
		<div class="nav-container">
			<nav class="top-bar overlay-bar">
				<div class="container">
				
					<div class="row utility-menu">
						<div class="col-sm-12">
							<div class="utility-inner clearfix">
								<span class="alt-font"><i class="icon icon_pin"></i> 300 Collins St Melbourne</span>
								<span class="alt-font"><i class="icon icon_mail"></i> hello@pivot.net</span>
							
								<div class="pull-right">
									<a href="login.html" class="btn btn-primary login-button btn-xs">Login</a>
									<a href="#" class="btn btn-primary btn-filled btn-xs">Signup</a>
									<a href="#" class="language"><img alt="English" src="img/english.png"></a>
									<a href="#" class="language"><img alt="English" src="img/denmark.png"></a>
								</div>
							</div>
						</div>
					</div><!--end of row-->
				
				
					<div class="row nav-menu">
						<div class="col-sm-3 col-md-2 columns">
							<a href="index.html">
								<img class="logo logo-light" alt="Logo" src="img/logo-light.png">
								<img class="logo logo-dark" alt="Logo" src="img/logo-dark.png">
							</a>
						</div>
					
						<div class="col-sm-9 col-md-10 columns">
							<ul class="menu">
								<li class="has-dropdown"><a href="#">Home Pages</a>
									<div class="subnav subnav-fullwidth">
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="index.html">Home Classic</a></li>
												<li><a href="home-2.html">Home Education</a></li>
												<li><a href="home-3.html">Home Business</a></li>
												<li><a href="home-4.html">Home Agency</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="home-5.html">Home Corporate</a></li>
												<li><a href="personal.html">Home Personal</a></li>
												<li><a href="launching-soon-2.html">Service Launch</a></li>
												<li><a href="launching-soon.html">Product Launch</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="home-resume.html">Home Resume</a></li>
												<li><a href="launching-soon-3.html">Launch with video</a></li>
												<li><a href="coming-soon.html">Launch with countdown</a></li>	
												<li><a href="one-page.html">One Page</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<a class="btn btn-primary" href="http://www.mediumra.re/pivot/variant/builder.html">Build your own</a>
											<a class="btn btn-primary btn-filled" href="#">Purchase Pivot</a>
										</div>
									</div>
								</li>
								<li class="has-dropdown"><a href="#">Pages</a>
									<ul class="subnav">
										<li><a href="about.html">About Us</a></li>
										<li><a href="about-2.html">About Us 2</a></li>
										<li><a href="services.html">Services</a></li>
										<li><a href="services-2.html">Services 2</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="404.html">404 Error</a></li>
										<li><a href="500.html">500 Error</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a  href="#">Blog</a>
									<div class="subnav subnav-halfwidth">
										<div class="col-sm-6">
											<h6 class="alt-font">Article Lists</h6>
											<ul class="subnav">
												<li><a href="blog-masonry.html">Masonry</a></li>
												<li><a href="blog-masonry-sidebar.html">Masonry Sidebar</a></li>
												<li><a href="blog.html">Blog Large List</a></li>
												<li><a href="blog-large-image.html">Blog Image List</a></li>
											</ul>	
										</div>
								
										<div class="col-sm-6">
											<h6 class="alt-font">Article Singles</h6>
											<ul class="subnav">
												<li><a href="blog-single.html">Article Basic</a></li>
												<li><a href="blog-single-2.html">Article Basic 2</a></li>
												<li><a href="blog-single-sidebar.html">Article Sidebar</a></li>
												<li><a href="blog-single-media.html">Article Media</a></li>
											</ul>	
										</div>
									</div>
								</li>
								<li class="has-dropdown"><a href="#">Projects</a>
									<ul class="subnav">
										<li><a href="projects.html">Projects Fullwidth</a></li>
										<li><a href="projects-2.html">Projects Contained</a></li>
										<li><a href="project-single-2.html">Project Single</a></li>
										<li><a href="project-single.html">Project Single 2</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a href="#">Contact</a>
									<ul class="subnav">
										<li><a href="contact-3.html">Large Map</a></li>
										<li><a href="contact-2.html">Map with form</a></li>
										<li><a href="contact.html">Header with form</a></li>
										<li><a href="contact-4.html">Fullscreen photo</a></li>
									</ul>
								</li>
							</ul>

							<ul class="social-icons text-right">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div><!--end of row-->
					
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div><!--end of container-->
			</nav>
		
			
		
			
		
			
		</div>
		<div class="main-container">
			<header class="fullscreen-element no-pad centered-text">
				<div class="background-image-holder parallax-background overlay">
					<img class="background-image" alt="Background Image" src="img/hero13.jpg">
				</div>
				
				<div class="container align-vertical">
					<div class="row">
						<div class="col-md-12 text-center">
							<span class="text-white alt-font">Say Hello To Pivot</span>
							<h1 class="text-white">The biggest, baddest new template on the block <br>has arrived, build yours now.</h1>
							<p class="lead text-white">Tons of elements, Consistent style, Variant builder included.</p>
							<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
							<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>
			
			<section class="text-banner">
				<div class="container text-center">
					
					<div class="row">
						
					<div class="col-sm-12">
							<ul class="icons-large">
								<li><i class="icon icon-layers icon-large"></i></li>
								<li><i class="icon icon-browser icon-large"></i></li>
								<li><i class="icon icon-adjustments icon-large"></i></li>
							</ul>
							<h1 class="center-block vis">Look at this sweet little Icon Divider, what a winner!<br></h1>
						</div></div>
					<div class="row">
						<div class="col-md-12">
							<a href="#" class="btn btn-primary vis">See Features</a>
							<a href="#" class="btn btn-primary btn-text-only vis">Learn More</a>
						</div>
					</div>
				</div>
			</section>
			
			<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<h1 class="space-bottom-medium">Pivot is an effortlessly simple startup template with usable features.</h1>
							<p class="lead space-bottom-medium">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
							</p>
							<a href="#" class="btn btn-primary">See Features</a>
							<a href="#" class="btn btn-primary btn-text-only">Learn More</a>
						</div>
						
						<div class="col-md-6 col-sm-12">
							<div class="inline-video-wrapper">
								<video controls="">
									<source src="video/video.webm" type="video/webm">
									<source src="video/video.mp4" type="video/mp4">
									<source src="video/video.ogv" type="video/ogg">
								</video>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
			
			<section class="side-image clearfix">
				<div class="image-container col-md-5 col-sm-4 pull-left">
					<div class="background-image-holder">
						<img class="background-image" alt="Background Image" src="img/hero10.jpg">
					</div>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 content clearfix">
							<h1>Pivot includes many element<br>variations to showcase your content.</h1>
							<p class="lead">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
							</p>
						
							<div class="row">
								<div class="col-md-6 no-pad-left">
									<div class="feature feature-icon-left">
										<div class="icon-holder">
											<i class="icon icon-genius"></i>
										</div>
										<div class="feature-text">
											<h6>Clear Documentation</h6>
											<p>
												Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus. 
											</p>
										</div>
									</div>
								</div><!--end of feature-->
						
								<div class="col-md-6 no-pad-left">
									<div class="feature feature-icon-left">
										<div class="icon-holder">
											<i class="icon icon-flag"></i>
										</div>
										<div class="feature-text">
											<h6>Support Forum Access</h6>
											<p>
												Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus. 
											</p>
										</div>
									</div>
								</div><!--end of feature-->
							</div><!--end of row-->
						
							<div class="row">
								<div class="col-md-6 no-pad-left">
									<div class="feature feature-icon-left">
										<div class="icon-holder">
											<i class="icon icon-mobile"></i>
										</div>
										<div class="feature-text">
											<h6>Optimized For Mobile</h6>
											<p>
												Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus. 
											</p>
										</div>
									</div>
								</div><!--end of feature-->
						
								<div class="col-md-6 no-pad-left">
									<div class="feature feature-icon-left">
										<div class="icon-holder">
											<i class="icon icon-clipboard"></i>
										</div>
										<div class="feature-text">
											<h6>Fully Featured &amp; Flexible</h6>
											<p>
												Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus. 
											</p>
										</div>
									</div>
								</div><!--end of feature-->
							</div><!--end of row-->
					
						</div>
					</div><!--end of row-->
				</div>
			</section>
			
			<section class="pricing-1 bg-secondary-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-white">Super simple pricing<br>that scales with your usage</h1>
						</div>
					</div><!--end of row-->
					
					<div class="row clearfix pricing-tables">
						<div class="col-md-3  col-sm-6 no-pad-right">
							<div class="pricing-table">
								<div class="price">
									<span class="sub">$</span>
									<span class="amount">29</span>
									<span class="sub">/mo</span>
								</div>
								<ul class="features">
									<li><strong>200GB</strong> Storage</li>
									<li><strong>Unlimited</strong> Bandwidth</li>
									<li><strong>24/7</strong> Support</li>
									<li><strong>100</strong> Unique Logins</li>
								</ul>
								<a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
							</div>
						</div>
						
						<div class="col-md-3  col-sm-6 no-pad">
							<div class="pricing-table">
								<div class="price">
									<span class="sub">$</span>
									<span class="amount">39</span>
									<span class="sub">/mo</span>
								</div>
								<ul class="features">
									<li><strong>250GB</strong> Storage</li>
									<li><strong>Unlimited</strong> Bandwidth</li>
									<li><strong>24/7</strong> Support</li>
									<li><strong>200</strong> Unique Logins</li>
								</ul>
								<a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
							</div>
						</div>
						
						<div class="col-md-3  col-sm-6 no-pad">
							<div class="pricing-table emphasis">
								<div class="price">
									<span class="sub">$</span>
									<span class="amount">49</span>
									<span class="sub">/mo</span>
								</div>
								<ul class="features">
									<li><strong>300GB</strong> Storage</li>
									<li><strong>Unlimited</strong> Bandwidth</li>
									<li><strong>24/7</strong> Support</li>
									<li><strong>300</strong> Unique Logins</li>
								</ul>
								<a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
							</div>
						</div>
						
						<div class="col-md-3  col-sm-6 no-pad-left">
							<div class="pricing-table">
								<div class="price">
									<span class="sub">$</span>
									<span class="amount">59</span>
									<span class="sub">/mo</span>
								</div>
								<ul class="features">
									<li><strong>350GB</strong> Storage</li>
									<li><strong>Unlimited</strong> Bandwidth</li>
									<li><strong>24/7</strong> Support</li>
									<li><strong>400</strong> Unique Logins</li>
								</ul>
								<a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
							</div>
						</div>
						
						
					</div><!--end of row-->
					
				</div><!--end of container-->
			
			</section>
			
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<i class="icon icon-jumbo social_twitter"></i>
							<div id="tweets" data-widget-id="492085717044981760">
							
							</div>
							<p>
								Follow us <strong><a href="#">@mrareweb</a></strong> for more awesome updates
							</p>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
		</div>
		<div class="footer-container">			
			
		
			<footer class="details">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<img alt="logo" class="logo" src="img/logo-dark.png">
							<p>
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
							</p>
						</div>
						
						<div class="col-sm-4">
							<h1>Contact</h1>
							<p>
								hello@pivot.net<br>
								+61 3827 9284<br>
								<br>
								Suite 2A Humbolt Plaza<br>
								300 Collins St<br>
								Melbourne 3000
							</p>
						</div>
						
						<div class="col-sm-4">
							<h1>Social Profiles</h1>
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_dribbble"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_tumblr"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_pinterest"></i>
									</a>
								</li>
							</ul>
						</div>
					</div><!--end of row-->
					
					<div class="row">
						<div class="col-sm-12">
							<span class="sub">© Copright 2014 <a href="#">Medium Rare</a> - All Rights Reserved</span>
						</div>
					</div>
					
				</div><!--end of container-->
			</footer>
		</div>
				
		<script src="js/jquery.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/scrollReveal.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/twitterFetcher_v10_min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
				