
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Pivot | Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
		<div class="nav-container">
			<nav class="top-bar overlay-bar">
				<div class="container">
				
					<!--end of row-->
				
				
					<div class="row nav-menu">
						<div class="col-sm-3 col-md-2 columns">
							<a href="index.html">
								<img class="logo logo-light" alt="Logo" src="img/logo-light.png">
								<img class="logo logo-dark" alt="Logo" src="img/logo-dark.png">
							</a>
						</div>
					
						<div class="col-sm-9 col-md-10 columns">
							<ul class="menu">
								<li class="has-dropdown"><a href="#">Home Pages</a>
									<div class="subnav subnav-fullwidth">
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="index.html">Home Classic</a></li>
												<li><a href="home-2.html">Home Education</a></li>
												<li><a href="home-3.html">Home Business</a></li>
												<li><a href="home-4.html">Home Agency</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="home-5.html">Home Corporate</a></li>
												<li><a href="personal.html">Home Personal</a></li>
												<li><a href="launching-soon-2.html">Service Launch</a></li>
												<li><a href="launching-soon.html">Product Launch</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="home-resume.html">Home Resume</a></li>
												<li><a href="launching-soon-3.html">Launch with video</a></li>
												<li><a href="coming-soon.html">Launch with countdown</a></li>	
												<li><a href="one-page.html">One Page</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<a class="btn btn-primary" href="http://www.mediumra.re/pivot/variant/builder.html">Build your own</a>
											<a class="btn btn-primary btn-filled" href="#">Purchase Pivot</a>
										</div>
									</div>
								</li>
								<li class="has-dropdown"><a href="#">Pages</a>
									<ul class="subnav">
										<li><a href="about.html">About Us</a></li>
										<li><a href="about-2.html">About Us 2</a></li>
										<li><a href="services.html">Services</a></li>
										<li><a href="services-2.html">Services 2</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="404.html">404 Error</a></li>
										<li><a href="500.html">500 Error</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a  href="#">Blog</a>
									<div class="subnav subnav-halfwidth">
										<div class="col-sm-6">
											<h6 class="alt-font">Article Lists</h6>
											<ul class="subnav">
												<li><a href="blog-masonry.html">Masonry</a></li>
												<li><a href="blog-masonry-sidebar.html">Masonry Sidebar</a></li>
												<li><a href="blog.html">Blog Large List</a></li>
												<li><a href="blog-large-image.html">Blog Image List</a></li>
											</ul>	
										</div>
								
										<div class="col-sm-6">
											<h6 class="alt-font">Article Singles</h6>
											<ul class="subnav">
												<li><a href="blog-single.html">Article Basic</a></li>
												<li><a href="blog-single-2.html">Article Basic 2</a></li>
												<li><a href="blog-single-sidebar.html">Article Sidebar</a></li>
												<li><a href="blog-single-media.html">Article Media</a></li>
											</ul>	
										</div>
									</div>
								</li>
								<li class="has-dropdown"><a href="#">Projects</a>
									<ul class="subnav">
										<li><a href="projects.html">Projects Fullwidth</a></li>
										<li><a href="projects-2.html">Projects Contained</a></li>
										<li><a href="project-single-2.html">Project Single</a></li>
										<li><a href="project-single.html">Project Single 2</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a href="#">Contact</a>
									<ul class="subnav">
										<li><a href="contact-3.html">Large Map</a></li>
										<li><a href="contact-2.html">Map with form</a></li>
										<li><a href="contact.html">Header with form</a></li>
										<li><a href="contact-4.html">Fullscreen photo</a></li>
									</ul>
								</li>
							</ul>

							<ul class="social-icons text-right">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div><!--end of row-->
					
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div><!--end of container-->
			</nav>
		
		</div>
		
		<div class="main-container">
			<header class="page-header resume-header">
				<div class="background-image-holder parallax-background">
					<img class="background-image" alt="Background Image" src="img/hero21.jpg">
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h1 class="text-white space-bottom-medium">Samuel Thompson</h1>
							<span>Web &amp; Interaction Designer</span>
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_dribbble"></i>
									</a>
								</li>
							</ul>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>
			
			<section class="duplicatable-content milestones">
			
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1>Career Highlights</h1>
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae. 
							</p>	
						</div>
					</div><!--end of row-->
		
					<div class="row">
						<div class="col-md-3 col-sm-6 text-center">
							<div class="feature feature-icon-large">
								<i class="icon icon-notebook"></i>
								<div class="pin-body"></div>
								<div class="pin-head"></div>
								<h5>2008 - Graduated</h5>
								<span>Bachelor of Design</span>
								<span class="sub">RMIT University Melbourne</span>
							</div>
						</div><!--end 3 col-->
						
						<div class="col-md-3 col-sm-6 text-center">
							<div class="feature feature-icon-large">
								<i class="icon icon-briefcase"></i>
								<div class="pin-body"></div>
								<div class="pin-head"></div>
								<h5>2009 - Joined GoCorp.</h5>
								<span>Junior Developer</span>
								<span class="sub">UI / UX Design</span>
							</div>
						</div><!--end 3 col-->
						
						<div class="col-md-3 col-sm-6 text-center">
							<div class="feature feature-icon-large">
								<i class="icon icon-ribbon"></i>
								<div class="pin-body"></div>
								<div class="pin-head"></div>
								<h5>2011 - Attained PhD.</h5>
								<span>Emergent Web Design</span>
								<span class="sub">University of Melbourne</span>
							</div>
						</div><!--end 3 col-->
						
						<div class="col-md-3 col-sm-6 text-center">
							<div class="feature feature-icon-large">
								<i class="icon icon-mic"></i>
								<div class="pin-body"></div>
								<div class="pin-head"></div>
								<h5>2013 - Spoke at Meetup</h5>
								<span>Efficient JS Modelling</span>
								<span class="sub">Meetup 2014 - Melbourne</span>
							</div>
						</div><!--end 3 col-->
					
		
					</div><!--end of row-->
				</div>
			
			</section>
			
			<section class="expanding-list">
			
				<div class="background-image-holder parallax-background">
					<img class="background-image" alt="Background Image" src="img/hero22.jpg">
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>Education &amp; Employment</h1>
						</div><!--end 4 col-->
					</div><!--end of row-->
					
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
							<ul class="expanding-ul">
								<li>
									<div class="title">
										<i class="icon icon-pencil"></i>
										<span><strong>Bachelor of Design &amp; Communication</strong> RMIT University</span>
									</div>
									
									<div class="text-content">
										<p>
											Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
										</p>
									</div>
								</li>
								
								<li>
									<div class="title">
										<i class="icon icon-briefcase"></i>
										<span><strong>Junior Interaction Designer</strong> Corp &amp; Co.</span>
									</div>
									
									<div class="text-content">
										<p>
											Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
										</p>
									</div>
								</li>
								
								<li>
									<div class="title">
										<i class="icon icon-briefcase"></i>
										<span><strong>User Engagement Facilitator</strong> Leehan &amp; Tax</span>
									</div>
									
									<div class="text-content">
										<p>
											Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
										</p>
									</div>
								</li>
								
								<li>
									<div class="title">
										<i class="icon icon-trophy"></i>
										<span><strong>PhD. Contemporary Media</strong> University of Melbourne</span>
									</div>
									
									<div class="text-content">
										<p>
											Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div><!--end of row-->
				</div>
			</section>
			
			<section class="stat-counters duplicatable-content">
			
				<div class="background-image-holder parallax-background">
					<img class="background-image" alt="Background Image" src="img/hero8.jpg">
				</div>
		
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1>More About Me</h1>	
						</div>
					</div><!--end of row-->
					
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="stat feature">
								<div class="stat-bubble">
									<span>25</span>
								</div>
								<h3>Completed Projects</h3>	
							</div>
						</div>
						
						<div class="col-md-3 col-sm-6">
							<div class="stat feature">
								<div class="stat-bubble">
									<span>86</span>
								</div>
								<h3>Satisfied Clients</h3>	
							</div>
						</div>
						
						<div class="col-md-3 col-sm-6">
							<div class="stat feature">
								<div class="stat-bubble">
									<span>15</span>
								</div>
								<h3>Job Offers</h3>	
							</div>
						</div>
						
						<div class="col-md-3 col-sm-6">
							<div class="stat feature">
								<div class="stat-bubble">
									<span>0</span>
								</div>
								<h3>Missed Deadlines</h3>	
							</div>
						</div>
					</div><!--end of row-->
		
				</div><!--end of container-->
			</section>
			
			<section class="skill-bars">
		
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1>Skills &amp; Expertise</h1>
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae. 
							</p>	
						</div>
					</div><!--end of row-->
					
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="skills-left skills">
								<h3>Design</h3>
								<ul class="skills-ul">
									<li>
										<span>Responsive Web Design</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-11"></div>
										</div>
									</li>
									
									<li>
										<span>Branding &amp; Identity</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-9"></div>
										</div>
									</li>
									
									<li>
										<span>Photoshop &amp; Illustrator</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-7"></div>
										</div>
									</li>
									
									<li>
										<span>Macaw</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-6"></div>
										</div>
									</li>
								</ul>
							</div><!--end of skills-->
						</div>
						
						<div class="col-md-6 col-sm-12">
							<div class="skills-right skills">
								<h3>Develop</h3>
								<ul class="skills-ul">
									<li>
										<span>HTML &amp; CSS3</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-11"></div>
										</div>
									</li>
									
									<li>
										<span>Javascript / Jquery</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-9"></div>
										</div>
									</li>
									
									<li>
										<span>PHP &amp; MySQL</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-7"></div>
										</div>
									</li>
									
									<li>
										<span>WordPress</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-6"></div>
										</div>
									</li>
								</ul>
							</div><!--end of skills-->
						</div>
					</div><!--end of row-->
					
		
				</div><!--end of container-->
			</section>
			
			<section class="projects-gallery">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1>Check out some of my latest work</h1>
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta. 
							</p>
						</div>
					</div><!--end of row-->
					
				</div><!--end of container-->
				
				<div class="projects-wrapper clearfix">
					<div class="container">
						<div class="row">
							<ul class="filters">
								<li data-filter="*" class="active">All</li>
								<li data-filter=".branding">Branding</li>
								<li data-filter=".development">Development</li>
								<li data-filter=".print">Print Design</li>
							</ul>
						</div><!--end of row-->
					</div><!--end of container-->
					
					<div class="container">
						<div class="projects-container column-projects">
					
							<div class="col-md-4 col-sm-6 project development image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project1.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>MS10</strong> UX</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project branding image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project2.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Medium</strong> Blog Platform</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project print image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project3.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Identity</strong> Mockup</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project print image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project4.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Aurora</strong> App Icons</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project branding image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project5.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Sketchbook</strong> Logo Mockup</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project development image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project6.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Muzik</strong> Home Screen</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
						
					
						</div><!--end of projects-container-->
					</div><!--end of container-->
					
				</div><!--end of projects wrapper-->
				
			</section>
		</div>
		
		<div class="footer-container">
					
			<footer class="social bg-secondary-1">
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-white">Get In Touch</h1>
							<a href="#" class="text-white"><strong>hello@mrare.co</strong></a><br>
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_dribbble"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_tumblr"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_pinterest"></i>
									</a>
								</li>
							</ul><br>
							<span class="sub">© Copright 2014 <a href="#">Medium Rare</a> - All Rights Reserved</span>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			
			</footer>
		</div>
				
		<script src="js/jquery.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/scrollReveal.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/twitterFetcher_v10_min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
				