
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>Pivot | Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
		<div class="nav-container">
			<nav class="top-bar centered-logo">
				<div class="container">
				
					<div class="row utility-menu">
						<div class="col-sm-12">
							<div class="utility-inner clearfix">
								<span class="alt-font"><i class="icon icon_pin"></i> 300 Collins St Melbourne</span>
								<span class="alt-font"><i class="icon icon_mail"></i> hello@pivot.net</span>
							
								
								<ul class="social-icons text-right">
									<li>
										<a href="#">
											<i class="icon social_twitter"></i>
										</a>
									</li>
							
									<li>
										<a href="#">
											<i class="icon social_facebook"></i>
										</a>
									</li>
							
									<li>
										<a href="#">
											<i class="icon social_dribbble"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12 text-center">
							<img class="logo logo-light" alt="Logo" src="img/logo-light.png">
							<img class="logo logo-dark" alt="Logo" src="img/logo-dark.png">
						</div>
					</div>
				
				
					<div class="row nav-menu">
					
						<div class="col-sm-12 columns text-center">
							<ul class="menu">
								<li><a href="#">Single Link</a></li>
								<li class="has-dropdown"><a href="#">Dropdown</a>
									<ul class="subnav">
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a href="#">Half Width</a>
									<div class="subnav subnav-halfwidth">
										<div class="col-sm-6">
											<h6 class="alt-font">Subnav Title</h6>
											<ul class="subnav">
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
											</ul>	
										</div>
										
										<div class="col-sm-6">
											<h6 class="alt-font">Subnav Title</h6>
											<ul class="subnav">
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
											</ul>	
										</div>
									</div>
								</li>
								<li class="has-dropdown"><a href="#">Fullwidth</a>
									<div class="subnav subnav-fullwidth">
										<div class="col-md-3">
											<h6 class="alt-font">Subnav Title</h6>
											<ul class="subnav">
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Subnav Title</h6>
											<ul class="subnav">
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Subnav Title</h6>
											<ul class="subnav">
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Subnav Title</h6>
											<ul class="subnav">
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
											</ul>	
										</div>
									</div>
								</li>
								
							</ul>
		
						</div>
					</div>
					
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div>
				<div class="bottom-border"></div>
			</nav>
		
		</div>
		<div class="main-container">
			<section class="hero-slider">
				<ul class="slides">
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="img/hero15.jpg">
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
					
					<!--end of individual slide-->
					
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="img/hero7.jpg">
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
					
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="img/hero9.jpg">
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
				</ul>
			</section>
			
			<section class="text-banner">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-12">
							<ul class="icons-large">
								<li><i class="icon icon-desktop"></i></li>
								<li><i class="icon icon-tools-2"></i></li>
								<li><i class="icon icon-compass"></i></li>
							</ul>
							<h1 class="center-block">Pivot is fun, fresh &amp; functional</h1>
						</div>
					</div><!--end of row-->
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
							</p>
						</div>
					</div><!--end of row-->
					<div class="row">
						<div class="col-md-12">
							<a href="#" class="btn btn-primary">See Features</a>
							<a href="#" class="btn btn-primary btn-text-only">Learn More</a>
						</div>
					</div><!--end of row-->
				</div>
			</section>
			
			<section class="duplicatable-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="feature">
								<h5>Amazingly Simple Use</h5>
								<p>
									Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
								</p>
							</div>
						</div><!--end 4 col-->
					
						<div class="col-sm-4">
							<div class="feature">
								<h5>Built on Bootstrap 3</h5>
								<p>
									Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
								</p>
							</div>
						</div><!--end 4 col-->
					
						<div class="col-sm-4">
							<div class="feature">
								<h5>Rock Solid Flexibility</h5>
								<p>
									Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
								</p>
							</div>
						</div><!--end 4 col-->
					</div><!--end of row-->
				</div>
			</section>
			
			<section class="hero-divider">
			
				<div class="background-image-holder overlay">
					<img class="background-image" alt="Poster Image For Mobiles" src="img/side1.jpg">
				</div>
			
				<div class="video-wrapper">
					<video autoplay="" muted="" loop="">
						<source src="video/video.webm" type="video/webm">
						<source src="video/video.mp4" type="video/mp4">
						<source src="video/video.ogv" type="video/ogg">	
					</video>
		
				</div>
				
				<div class="container">
					<div class="row">	
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1 class="text-white">Awesome Video Dividers</h1>
							<p class="lead text-white">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
							</p>
							<a href="#" class="btn btn-white btn-primary">See More</a>
							<a href="#" class="btn btn-primary btn-filled">Purchase</a>
						</div>
					</div><!--end of row-->
				</div><!--end of row-->
			</section>
			
			<section class="product-right">
			
				<div class="background-image-holder">
					<img class="background-image" alt="Background Image" src="img/grey-bg.jpg">
				</div>
				
				<div class="container align-vertical">
					<div class="row">
						<div class="col-md-5 col-sm-6">
							<h1>Pivot breathes new life into your app or product landing page</h1>
							<p class="lead">
								Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
							</p>
							<a href="#" class="btn btn-primary">Try A Demo</a>
							<a href="#" class="btn btn-primary btn-filled">Purchase</a>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
				
				<div class="product-image" data-scroll-reveal="enter right and move 100px">
					<img alt="Product Image" src="img/ipad.png">
				</div>
			
			</section>
			
			<section class="no-pad-bottom no-pad-top projects-gallery">
				
				<div class="projects-wrapper clearfix">
					
					<div class="projects-container">
						
						<div class="col-md-4 col-sm-6 no-pad project print image-holder">
							<div class="background-image-holder">
								<img class="background-image" alt="Background Image" src="img/project1.jpg">
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h3 class="text-white"><strong>Identity</strong> Mockup</h3>
									<p class="text-white">
										Showcase your new identity with<br>this sleek mockup.
									</p>
									<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
								</div>
							</div>
						</div><!--end of individual project-->
						
						<div class="col-md-4 col-sm-6 no-pad project branding image-holder">
							<div class="background-image-holder">
								<img class="background-image" alt="Background Image" src="img/project4.jpg">
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h3 class="text-white"><strong>Aurora</strong> Icon Kit</h3>
									<p class="text-white">
										A fresh and circular take on Apple's<br>iconic home screen.
									</p>
									<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
								</div>
							</div>
						</div><!--end of individual project-->
						
						<div class="col-md-4 col-sm-6 no-pad project print image-holder">
							<div class="background-image-holder">
								<img class="background-image" alt="Background Image" src="img/project6.jpg">
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h3 class="text-white"><strong>Sketchbook</strong> Logos</h3>
									<p class="text-white">
										Present your hand-drawn logos on this<br>realistic sketchbook mockup.
									</p>
									<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
								</div>
							</div>
						</div><!--end of individual project-->
					
					</div><!--end of projects-container-->
					
				</div><!--end of projects wrapper-->
				
			</section>
			
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<i class="icon icon-jumbo social_twitter"></i>
							<div id="tweets" data-widget-id="492085717044981760">
							
							</div>
							<p>
								Follow us <strong><a href="#">@mrareweb</a></strong> for more awesome updates
							</p>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
			
			<section class="duplicatable-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>Latest News &amp; Views</h1>
						</div>
					</div><!--end of row-->
					
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<a href="#">
									<img alt="Blog Thumb" src="img/blog-thumb-1.jpg">
								</a>
								<h2>Why is building with Variant so darn fun and dead-easy?</h2>
								<span class="sub alt-font">Published on July 15th 2014</span>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
								</p>
								<a href="#" class="link-text">Read The Rest</a>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<a href="#">
									<img alt="Blog Thumb" src="img/blog-thumb-2.jpg">
								</a>
								<h2>Why is building with Variant so darn fun and dead-easy?</h2>
								<span class="sub alt-font">Published on July 15th 2014</span>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
								</p>
								<a href="#" class="link-text">Read The Rest</a>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<a href="#">
									<img alt="Blog Thumb" src="img/blog-thumb-3.jpg">
								</a>
								<h2>Why is building with Variant so darn fun and dead-easy?</h2>
								<span class="sub alt-font">Published on July 15th 2014</span>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
								</p>
								<a href="#" class="link-text">Read The Rest</a>
							</div>
						</div>
					</div><!--end of row-->	
				</div><!--end of container-->
			</section>
			
			<section class="pure-text-contact">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
							<span class="sub alt-font">We are accepting clients</span>
							<h1><strong>We're located in Melbourne, Australia<br> and we work with clients globally.</strong></h1>
							<i class="icon icon-map icon-jumbo"></i>
							<i class="icon icon-bike icon-jumbo"></i>
							<i class="icon icon-streetsign icon-jumbo"></i>
						</div>
					</div><!--end of row-->
		
				</div><!--end of container-->
			</section>
		</div>
		<div class="footer-container">
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white">© 2014 Pivot Inc.</span>
							<span class="text-white"><a href="#">hello@pivot.net</a></span>
							<span class="text-white">+614 3827 492</span>
							<span class="text-white">300 Collins St. Melbourne 3000</span>
						</div>
					</div><!--end for row-->
				</div><!--end of container-->
				
				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_mail"></i>
						<a href="contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
					</div>
				</div>
			</footer>
		</div>
				
		<script src="js/jquery.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/scrollReveal.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/twitterFetcher_v10_min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
				