
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>Pivot | Launching Soon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme-rocklobster.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
		<div class="nav-container">
			<nav class="top-bar overlay-bar">
				<div class="container">
				
					<!--end of row-->
				
				
					<div class="row nav-menu">
						<div class="col-sm-3 col-md-2 columns">
							<a href="index.html">
								<img class="logo logo-light" alt="Logo" src="img/logo-light.png">
								<img class="logo logo-dark" alt="Logo" src="img/logo-dark.png">
							</a>
						</div>
					
						<div class="col-sm-9 col-md-10 columns">
							<ul class="menu">
								<li class="has-dropdown"><a href="#">Home Pages</a>
									<div class="subnav subnav-fullwidth">
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="index.html">Home Classic</a></li>
												<li><a href="home-2.html">Home Education</a></li>
												<li><a href="home-3.html">Home Business</a></li>
												<li><a href="home-4.html">Home Agency</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="home-5.html">Home Corporate</a></li>
												<li><a href="personal.html">Home Personal</a></li>
												<li><a href="launching-soon-2.html">Service Launch</a></li>
												<li><a href="launching-soon.html">Product Launch</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="home-resume.html">Home Resume</a></li>
												<li><a href="launching-soon-3.html">Launch with video</a></li>
												<li><a href="coming-soon.html">Launch with countdown</a></li>	
												<li><a href="one-page.html">One Page</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<a class="btn btn-primary" href="http://www.mediumra.re/pivot/variant/builder.html">Build your own</a>
											<a class="btn btn-primary btn-filled" href="#">Purchase Pivot</a>
										</div>
									</div>
								</li>
								<li class="has-dropdown"><a href="#">Pages</a>
									<ul class="subnav">
										<li><a href="about.html">About Us</a></li>
										<li><a href="about-2.html">About Us 2</a></li>
										<li><a href="services.html">Services</a></li>
										<li><a href="services-2.html">Services 2</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="404.html">404 Error</a></li>
										<li><a href="500.html">500 Error</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a  href="#">Blog</a>
									<div class="subnav subnav-halfwidth">
										<div class="col-sm-6">
											<h6 class="alt-font">Article Lists</h6>
											<ul class="subnav">
												<li><a href="blog-masonry.html">Masonry</a></li>
												<li><a href="blog-masonry-sidebar.html">Masonry Sidebar</a></li>
												<li><a href="blog.html">Blog Large List</a></li>
												<li><a href="blog-large-image.html">Blog Image List</a></li>
											</ul>	
										</div>
								
										<div class="col-sm-6">
											<h6 class="alt-font">Article Singles</h6>
											<ul class="subnav">
												<li><a href="blog-single.html">Article Basic</a></li>
												<li><a href="blog-single-2.html">Article Basic 2</a></li>
												<li><a href="blog-single-sidebar.html">Article Sidebar</a></li>
												<li><a href="blog-single-media.html">Article Media</a></li>
											</ul>	
										</div>
									</div>
								</li>
								<li class="has-dropdown"><a href="#">Projects</a>
									<ul class="subnav">
										<li><a href="projects.html">Projects Fullwidth</a></li>
										<li><a href="projects-2.html">Projects Contained</a></li>
										<li><a href="project-single-2.html">Project Single</a></li>
										<li><a href="project-single.html">Project Single 2</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a href="#">Contact</a>
									<ul class="subnav">
										<li><a href="contact-3.html">Large Map</a></li>
										<li><a href="contact-2.html">Map with form</a></li>
										<li><a href="contact.html">Header with form</a></li>
										<li><a href="contact-4.html">Fullscreen photo</a></li>
									</ul>
								</li>
							</ul>

							<ul class="social-icons text-right">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div><!--end of row-->
					
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div><!--end of container-->
			</nav>
		
			
		
		</div>
		
		<div class="main-container">
			<header class="signup">
					<div class="background-image-holder parallax-background">
						<img class="background-image" alt="Background Image" src="img/hero5.jpg">
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">Welcome to our amazing new service <br>sign up now and experience the pure goodness</h1>
							</div>
						</div><!--end of row-->
						
						<div class="row text-center">
						
							<div class="col-sm-12 text-center">
								<div class="photo-form-wrapper clearfix">
									<div class="row">
										<div class="col-md-3 col-sm-4">
											<input class="form-email" type="text" placeholder="Email Address">
										</div>
							
										<div class="col-md-3 col-sm-4">
											<input class="form-password" type="password" placeholder="Password">
										</div>
										
										<div class="col-md-3 col-sm-4">
											<input class="form-password2" type="password" placeholder="Confirm Password">
										</div>
										
										<div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4 text-center">
											<input type="submit" class="btn btn-primary btn-filled" value="Start My Free Trial">
										</div>
									</div><!--end of row-->
						
								</div><!--end of photo form wrapper-->
								
								<span class="text-white">30 Day risk free trial - No credit card required</span>
							</div>
						
						</div><!--end of row-->
						
					</div><!--end of container-->	
			</header>
			
			<section class="feature-divider">
			
				<div class="background-image-holder" data-scroll-reveal="wait 0.2s then enter 200px from bottom over 0.3s">
					<img class="background-image" alt="Background Image" src="img/grey-bg.jpg">
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-5">
							<h1>Our latest product has all the fancy features you could want</h1>
							<p class="lead">
								Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor. Et harum quidem rerum.
							</p>
							<a class="store-link" href="#"><img alt="Buy On App Store" src="img/app-store.png"></a>
							<a class="store-link" href="#"><img alt="Buy On App Store" src="img/google-play.png"></a>
						</div>
					
						<div class="col-sm-7" data-scroll-reveal="enter from bottom and move 100px">
							<img alt="App Screenshot" src="img/app2.png">
						</div>
					</div><!--end of row-->
				</div>
			</section>
			
			<section class="hero-divider">
			
				<div class="background-image-holder overlay">
					<img class="background-image" alt="Poster Image For Mobiles" src="img/side1.jpg">
				</div>
			
				<div class="video-wrapper">
					<video autoplay="" muted="" loop="">
						<source src="video/video.webm" type="video/webm">
						<source src="video/video.mp4" type="video/mp4">
						<source src="video/video.ogv" type="video/ogg">	
					</video>
		
				</div>
				
				<div class="container">
					<div class="row">	
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1 class="text-white">Awesome Video Dividers</h1>
							<p class="lead text-white">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
							</p>
							<a href="#" class="btn btn-white btn-primary">See More</a>
							<a href="#" class="btn btn-primary btn-filled">Purchase</a>
						</div>
					</div><!--end of row-->
				</div><!--end of row-->
			</section>
			
			<section class="pricing-2">
				
				<div class="container">
					<div class="row text-center">
						<h1>Compare features of<br>our popular pricing plans</h1>
					</div><!--end of row-->
					
					<div class="row pricing-tables">
						<div class="col-md-3 no-pad-right hidden-sm">
							<div class="pricing-table feature-list">
								<ul class="features">
									<li><strong>&nbsp;</strong></li>
									<li><strong>Storage Space</strong></li>
									<li><strong>Unique Logins</strong></li>
									<li><strong>Offsite Backup</strong></li>
									<li><strong>Support Hours</strong></li>
									<li><strong>Bandwidth</strong></li>
								</ul>
							</div>
						</div>
						
						<div class="col-md-3 no-pad hidden-sm">
							<div class="pricing-table">
								<ul class="features">
									<li><strong>Starter</strong></li>
									<li><strong>100</strong>GB</li>
									<li><strong>200</strong>Users</li>
									<li><strong>No Backup</strong></li>
									<li><strong>Standard Support</strong></li>
									<li><strong>20</strong>GB</li>
								</ul>
								<div class="price">
									<span class="sub">$</span>
									<span class="amount">29</span>
									<span class="sub">/mo</span>	
								</div>
								<a href="#" class="btn btn-primary">Sign Me Up</a>
							</div>
						</div>
						
						<div class="col-md-3 no-pad hidden-sm">
							<div class="pricing-table emphasis">
								<ul class="features">
									<li><strong>Business</strong></li>
									<li><strong>200</strong>GB</li>
									<li><strong>400</strong>Users</li>
									<li><strong>2TB</strong></li>
									<li><strong>Standard Support</strong></li>
									<li><strong>40</strong>GB</li>
								</ul>
								<div class="price">
									<span class="sub">$</span>
									<span class="amount">49</span>
									<span class="sub">/mo</span>	
								</div>
								<a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
							</div>
						</div>
						
						<div class="col-md-3 no-pad-left hidden-sm">
							<div class="pricing-table">
								<ul class="features">
									<li><strong>Corporate</strong></li>
									<li><strong>400</strong>GB</li>
									<li><strong>800</strong>Users</li>
									<li><strong>4TB</strong></li>
									<li><strong>24/7</strong></li>
									<li><strong>90</strong>GB</li>
								</ul>
								<div class="price">
									<span class="sub">$</span>
									<span class="amount">69</span>
									<span class="sub">/mo</span>	
								</div>
								<a href="#" class="btn btn-primary">Sign Me Up</a>
							</div>
						</div>
						
						
					</div>
				</div><!--end of container-->
			
			</section>
			
			<section class="clients-2">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client1.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client2.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client3.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client4.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client5.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client6.png">
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
			
			<section class="bg-primary">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="testimonials-slider text-center">
								<ul class="slides">
									<li>
										<p class="text-white lead">Pivot is hands down the most flexible and enjoyable HTML template I've ever used. I was a startup framework die-hard but now my eyes have been opened to the sheer power of Variant page builder, I won't be going back!</p>
										<span class="author text-white">Louise Duke - Mother Goose</span>
									</li>
									
									<li>
										<p class="text-white lead">I was getting fed up with the hassle of setting up bloated WordPress themes. Luckily I've now found Pivot with Variant. Building pages in real-time without a CMS gives me all the power and flexibility I could want.</p>
										<span class="author text-white">Elizabeth Atkinson - Shapewear Australia</span>
									</li>
									
									<li>
										<p class="text-white lead">The plethora of content blocks available in Pivot has made it my go-to template of choice. I've already used it for a number of clients - all of which have been thrilled with the outcome. Well done Medium Rare!</p>
										<span class="author text-white">Toby Whittaker - Design Dojo</span>
									</li>
								</ul>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
		</div>
		
		<div class="footer-container">
					
			<footer class="social bg-secondary-1">
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-white">Get In Touch</h1>
							<a href="#" class="text-white"><strong>hello@mrare.co</strong></a><br>
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_dribbble"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_tumblr"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_pinterest"></i>
									</a>
								</li>
							</ul><br>
							<span class="sub">© Copright 2014 <a href="#">Medium Rare</a> - All Rights Reserved</span>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			
			</footer>
		</div>
				
		<script src="js/jquery.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/scrollReveal.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/twitterFetcher_v10_min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
				