
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>Pivot Multipurpose Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
		<div class="nav-container">
						
			<nav class="top-bar overlay-bar offscreen-menu">
				<div class="container">
				
					<div class="row nav-menu clearfix">
						<div class="col-sm-2 col-xs-6">
							<a href="index.html">
								<img class="logo logo-light" alt="Logo" src="img/logo-light.png">
								<img class="logo logo-dark" alt="Logo" src="img/logo-dark.png">
							</a>
						</div>
						
						<div class="col-sm-2 col-xs-6 text-right pull-right">
							<div class="offscreen-toggle">
								<i class="icon icon_menu text-white"></i>
							</div>
						</div>
					</div><!--end of row-->
					
					<div class="row">
						<div class="col-sm-12">
							<hr class="no-margin">
						</div>
					</div><!--end of row-->
					
				</div><!--end of container-->
				
				<div class="offscreen-container">
					<img alt="logo" class="logo" src="img/logo-light.png">
					<ul class="menu">
						<li><a href="#home" class="inner-link" target="default">Home</a></li>
						<li><a href="#services" class="inner-link" target="default">Services</a></li>
						<li><a href="#about" class="inner-link" target="default">About</a></li>
						<li><a href="#work" class="inner-link" target="default">Portfolio</a></li>
						<li><a href="#testimonials" class="inner-link" target="default">testimonials</a></li><li><a href="#contact" class="inner-link" target="default">contact</a></li>
					</ul>	
					<ul class="social-icons">
						<li>
							<a href="#">
								<i class="icon social_twitter"></i>
							</a>
						</li>
				
						<li>
							<a href="#">
								<i class="icon social_facebook"></i>
							</a>
						</li>
				
						<li>
							<a href="#">
								<i class="icon social_instagram"></i>
							</a>
						</li>
					</ul>
				</div>
			</nav>
		
			
		</div>
		<div class="main-container"><a id="home" class="in-page-link"></a>
			<header class="fullscreen-element no-pad centered-text">
				<div class="background-image-holder parallax-background overlay">
					<img class="background-image" alt="Background Image" src="img/hero8.jpg">
				</div>
				
				<div class="container align-vertical">
					<div class="row">
						<div class="col-md-12 text-center">
							<span class="text-white alt-font">Say Hello To Pivot</span>
							<h1 class="text-white">The biggest, baddest new template on the block <br>has arrived, build yours now.</h1>
							<p class="lead text-white">Tons of elements, Consistent style, Variant builder included.</p>
							<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
							<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>
			
			<a id="services" class="in-page-link"></a>
			<section class="pure-text-centered">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
							<span class="sub alt-font">full service digital agency</span>
							<h1><strong>Digital innovators, at your service</strong></h1>
							<p class="lead">
								At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
							</p>
						</div>
					</div><!--end of row-->
		
				</div><!--end of container-->
			</section>
			
			<section class="duplicatable-content">
			
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1>Showcase services in a<br>spacious &amp; clean manner</h1>
						</div>
					</div><!--end of row-->
		
					<div class="row">
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-genius"></i>
								</div>
								<div class="pull-right">
									<h5>Distinct Visual Style</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div><!--end 6 col-->
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-linegraph"></i>
								</div>
								<div class="pull-right">
									<h5>Multiple Demos</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div><!--end 6 col-->
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-tools-2"></i>
								</div>
								<div class="pull-right">
									<h5>Flexible Page Builder</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div><!--end 6 col-->
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-desktop"></i>
								</div>
								<div class="pull-right">
									<h5>Fully Responsive</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div><!--end 6 col-->
						
					</div><!--end of row-->
				</div>
			
			</section>
			
			<header class="page-header">
				<div class="background-image-holder parallax-background">
					<img class="background-image" alt="Background Image" src="img/hero12.jpg">
				</div>
				
				<div class="container">
					<div class="row">
						<div class="text-center col-sm-11">
							<span class="text-white alt-font">john grisham - pangaea inc.</span>
							<h1 class="text-white">"We were blown away by the team at Pivot,<div>all our expectations were exceeded."</div></h1>
							
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>
			
			<a id="about" class="in-page-link"></a>
			<section class="team-1">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1>We've a killer team at the helm</h1>
							<p class="lead">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi. 
							</p>
						</div>
					</div><!--end of row-->
					
					<div class="row">
						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="img/team-small-1.png ">
								<h5>Chip Mayer</h5>
								<span>Founder &amp; CEO</span><br>
								<ul class="social-icons">
									<li>
										<a href="#">
											<i class="icon social_twitter"></i>
										</a>
									</li>
								
									<li>
										<a href="#">
											<i class="icon social_facebook"></i>
										</a>
									</li>
								
									<li>
										<a href="#">
											<i class="icon social_dribbble"></i>
										</a>
									</li>
								</ul>
							</div><!--end of team member-->
						</div>
						
						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="img/team-small-2.png ">
								<h5>Carl Kennedy</h5>
								<span>Founder &amp; COO</span><br>
								<ul class="social-icons">
									<li>
										<a href="#">
											<i class="icon social_twitter"></i>
										</a>
									</li>
								
									<li>
										<a href="#">
											<i class="icon social_facebook"></i>
										</a>
									</li>
								
									<li>
										<a href="#">
											<i class="icon social_tumblr"></i>
										</a>
									</li>
								</ul>
							</div><!--end of team member-->
						</div>
						
						
						
						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="img/team-small-4.png ">
								<h5>Claire Taurus</h5>
								<span>Product Designer</span><br>
								<ul class="social-icons">
									<li>
										<a href="#">
											<i class="icon social_twitter"></i>
										</a>
									</li>
								
									<li>
										<a href="#">
											<i class="icon social_pinterest"></i>
										</a>
									</li>
								
									<li>
										<a href="#">
											<i class="icon social_instagram"></i>
										</a>
									</li>
								</ul>
							</div><!--end of team member-->
						</div>
						
						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="img/team-small-5.png ">
								<h5>Amy Banks</h5>
								<span>Developer</span><br>
								<ul class="social-icons">
									<li>
										<a href="#">
											<i class="icon social_googleplus"></i>
										</a>
									</li>
								
									<li>
										<a href="#">
											<i class="icon social_spotify"></i>
										</a>
									</li>
								
									<li>
										<a href="#">
											<i class="icon social_linkedin"></i>
										</a>
									</li>
								</ul>
							</div><!--end of team member-->
						</div>
						
						
					</div><!--end of row-->
					
				</div><!--end of container-->
			</section>
			
			<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<h1 class="space-bottom-medium">Pivot is an effortlessly simple startup template with usable features.</h1>
							<p class="lead space-bottom-medium">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
							</p>
							<a href="#" class="btn btn-primary">See Features</a>
							<a href="#" class="btn btn-primary btn-text-only">Learn More</a>
						</div>
						
						<div class="col-md-6 col-sm-12">
							<div class="inline-video-wrapper">
								<video controls="">
									<source src="video/video.webm" type="video/webm">
									<source src="video/video.mp4" type="video/mp4">
									<source src="video/video.ogv" type="video/ogg">
								</video>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
			
			<a id="work" class="in-page-link"></a>
			<section class="no-pad-bottom projects-gallery">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1>Check out some of our<br>latest and greatest projects</h1>
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta. 
							</p>
						</div>
					</div><!--end of row-->
					
				</div><!--end of container-->
				
				<div class="projects-wrapper clearfix">
					<div class="container">
						<!--end of row-->
					</div><!--end of container-->
					
					<div class="container">
						<div class="projects-container column-projects">
					
							<div class="col-md-4 col-sm-6 project development image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project1.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>MS10</strong> UX</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project branding image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project2.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Medium</strong> Blog Platform</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project print image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project3.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Identity</strong> Mockup</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project print image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project4.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Aurora</strong> App Icons</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project branding image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project5.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Sketchbook</strong> Logo Mockup</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project development image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project6.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Muzik</strong> Home Screen</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
						
					
						</div><!--end of projects-container-->
					</div><!--end of container-->
					
				</div><!--end of projects wrapper-->
				
			</section>
			
			<section class="clients">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<p class="lead">Some awesome companies we've had the pleasure to work with</p>
						</div>
					</div><!--end of row-->
					
					<div class="row client-row">
						<div class="row-wrapper">
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client4.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client2.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client3.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client1.png">
							</div>
						</div>
					</div><!--end of row-->
					
					<div class="row client-row">
						<div class="row-wrapper">
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client5.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client6.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client7.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client8.png">
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
			
			<a id="testimonials" class="in-page-link"></a>
			<section class="bg-primary">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="testimonials-slider text-center">
								<ul class="slides">
									<li>
										<p class="text-white lead">Pivot is hands down the most flexible and enjoyable HTML template I've ever used. I was a startup framework die-hard but now my eyes have been opened to the sheer power of Variant page builder, I won't be going back!</p>
										<span class="author text-white">Louise Duke - Mother Goose</span>
									</li>
									
									<li>
										<p class="text-white lead">I was getting fed up with the hassle of setting up bloated WordPress themes. Luckily I've now found Pivot with Variant. Building pages in real-time without a CMS gives me all the power and flexibility I could want.</p>
										<span class="author text-white">Elizabeth Atkinson - Shapewear Australia</span>
									</li>
									
									<li>
										<p class="text-white lead">The plethora of content blocks available in Pivot has made it my go-to template of choice. I've already used it for a number of clients - all of which have been thrilled with the outcome. Well done Medium Rare!</p>
										<span class="author text-white">Toby Whittaker - Design Dojo</span>
									</li>
								</ul>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
			
			<section class="instagram-feed">
				<div class="container">
					<div class="row text-center">
						<div><span class="alt-font">Insta <i class="icon social_instagram"></i> Gram</span></div>
					</div><!--end of row-->
				</div><!--end of container-->
				
				<div class="instafeed" data-user-name="dana_tanamachi">
					<ul></ul>
				</div>
			</section>
			
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<i class="icon icon-jumbo social_twitter"></i>
							<div id="tweets" data-widget-id="492085717044981760">
							
							</div>
							<p>
								Follow us <strong><a href="#">@mrareweb</a></strong> for more awesome updates
							</p>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
			
			<a id="contact" class="in-page-link"></a>
			<section class="social-bar no-pad">
				<div class="col-md-3 col-sm-6 no-pad">
					<a href="#">
						<div class="link bg-twitter">
							<div class="initial">
								<i class="icon social_twitter"></i>
							</div>
						
							<div class="hover-state">
								<span class="text-white">Follow On Twitter</span>
							</div>
						</div>
					</a>
				</div><!--end of individual link-->
				
				<div class="col-md-3 col-sm-6 no-pad">
					<a href="#">
						<div class="link bg-facebook">
							<div class="initial">
								<i class="icon social_facebook"></i>
							</div>
						
							<div class="hover-state">
								<span class="text-white">Friends on Facebook</span>
							</div>
						</div>
					</a>
				</div><!--end of individual link-->
				
				<div class="col-md-3 col-sm-6 no-pad">
					<a href="#">
						<div class="link bg-dribbble">
							<div class="initial">
								<i class="icon social_dribbble"></i>
							</div>
						
							<div class="hover-state">
								<span class="text-white">Shots on Dribbble</span>
							</div>
						</div>
					</a>
				</div><!--end of individual link-->
				
				<div class="col-md-3 col-sm-6 no-pad">
					<a href="#">
						<div class="link bg-tumblr">
							<div class="initial">
								<i class="icon social_tumblr"></i>
							</div>
						
							<div class="hover-state">
								<span class="text-white">Thoughts on Tumblr</span>
							</div>
						</div>
					</a>
				</div><!--end of individual link-->
			</section>
		</div>
		<div class="footer-container">			
			
					
			<footer class="social bg-secondary-1">
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-white">Get In Touch</h1>
							<a href="#" class="text-white"><strong>hello@mrare.co</strong></a><br>
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_dribbble"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_tumblr"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_pinterest"></i>
									</a>
								</li>
							</ul><br>
							<span class="sub">© Copright 2014 <a href="#">Medium Rare</a> - All Rights Reserved</span>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			
			</footer>
		</div>
				
		<script src="js/jquery.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/scrollReveal.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/twitterFetcher_v10_min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
				