
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>Pivot | Personal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
		<div class="nav-container"><nav class="top-bar overlay-bar offscreen-menu">
				<div class="container">
				
					<div class="row nav-menu clearfix">
						<div class="col-sm-2 col-xs-6">
							<a href="index.html">
								<img class="logo logo-light" alt="Logo" src="img/logo-light.png">
								<img class="logo logo-dark" alt="Logo" src="img/logo-dark.png">
							</a>
						</div>
						
						<div class="col-sm-2 text-right pull-right col-xs-6">
							<div class="offscreen-toggle">
								<i class="icon icon_menu text-white"></i>
							</div>
						</div>
					</div><!--end of row-->
					
					<div class="row">
						<div class="col-sm-12">
							<hr class="no-margin">
						</div>
					</div><!--end of row-->
					
				</div><!--end of container-->
				
				<div class="offscreen-container">
					<img alt="logo" class="logo" src="img/logo-light.png">
					<ul class="menu">
						<li><a href="#home" class="inner-link" target="default">Home</a></li>
						<li><a href="#about" class="inner-link" target="default">About</a></li>
						<li><a href="#work" class="inner-link" target="default">Portfolio</a></li>
						<li><a href="#contact" class="inner-link" target="default">contact</a></li>
					</ul>	
					<ul class="social-icons">
						<li>
							<a href="#">
								<i class="icon social_twitter"></i>
							</a>
						</li>
				
						<li>
							<a href="#">
								<i class="icon social_facebook"></i>
							</a>
						</li>
				
						<li>
							<a href="#">
								<i class="icon social_instagram"></i>
							</a>
						</li>
					</ul>
				</div>
			</nav>
			
		
		</div>
		
		<div class="main-container">
		<a id="home" class="in-page-link"></a>
			<header class="header-icons overlay">
					<div class="background-image-holder parallax-background">
						<img class="background-image" alt="Background Image" src="img/hero15.jpg">
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h1 class="text-white">
									Hello, I'm Craig Garner<br>
									A <strong>multi-disciplinary</strong> designer
								</h1>
							</div>
						</div><!--end of row-->
						
						<div class="row">
							<div class="col-sm-4">
								<i class="icon icon-desktop text-white"></i>
								<h2 class="text-white">Web Design</h2>
							</div>
							
							<div class="col-sm-4">
								<i class="icon icon-mobile text-white"></i>
								<h2 class="text-white">UI / UX Development</h2>
							</div>
							
							<div class="col-sm-4">
								<i class="icon icon-genius text-white"></i>
								<h2 class="text-white">Branding &amp; Identity</h2>
							</div>
						</div><!--end of row-->
		
					</div><!--end of container-->	
			</header>
			
			<section class="strip bg-white">
				<div class="container">
					<div class="row clearfix">
						<div class="col-sm-3 col-xs-12 pull-left">
							<a href="#" class="btn btn-primary btn-grey">contact me</a>
						</div>
						
						<div class="col-sm-4 col-xs-12 pull-right text-right">
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_dribbble"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			
			<a id="about" class="in-page-link"></a>
			<section class="text-image-bottom bg-white">
				<div class="container">
				
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1>I make sweet websites &amp; killer apps<br />that communicate with clarity + purpose</h1>
						</div>
					</div><!--end of row-->
					
					<div class="row">
						<div class="col-sm-6">
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
							</p>
						</div>
						
						<div class="col-sm-6">
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
							</p>
						</div>
					</div>
				</div><!--end of container-->
				
				<div class="text-center">
					<img alt="Freelancer Essentials" src="img/bottom1.jpg">
				</div>
			</section>
			
			<a id="work" class="in-page-link"></a>
			<section class="no-pad-bottom projects-gallery">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1>Check out some of my<br>latest and greatest projects</h1>
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta. 
							</p>
						</div>
					</div><!--end of row-->
					
				</div><!--end of container-->
				
				<div class="projects-wrapper clearfix">
					<div class="container">
						<div class="row">
							<ul class="filters">
								<li data-filter="*" class="active">All</li>
								<li data-filter=".branding">Branding</li>
								<li data-filter=".development">Development</li>
								<li data-filter=".print">Print Design</li>
							</ul>
						</div><!--end of row-->
					</div><!--end of container-->
					
					<div class="container">
						<div class="projects-container column-projects">
					
							<div class="col-md-4 col-sm-6 project development image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project1.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>MS10</strong> UX</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project branding image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project2.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Medium</strong> Blog Platform</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project print image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project3.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Identity</strong> Mockup</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project print image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project4.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Aurora</strong> App Icons</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project branding image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project5.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Sketchbook</strong> Logo Mockup</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-md-4 col-sm-6 project development image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project6.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Muzik</strong> Home Screen</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
						
					
						</div><!--end of projects-container-->
					</div><!--end of container-->
					
				</div><!--end of projects wrapper-->
				
			</section>
			
			<section class="clients">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<p class="lead">Some awesome companies I've had the pleasure to work with</p>
						</div>
					</div><!--end of row-->
					
					<div class="row client-row">
						<div class="row-wrapper">
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client4.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client2.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client3.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client1.png">
							</div>
						</div>
					</div><!--end of row-->
					
					<div class="row client-row">
						<div class="row-wrapper">
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client5.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client6.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client7.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client8.png">
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
			
			<section class="instagram-feed">
				<div class="container">
					<div class="row text-center">
						<div><span class="alt-font">Insta <i class="icon social_instagram"></i> Gram</span></div>
					</div><!--end of row-->
				</div><!--end of container-->
				
				<div class="instafeed" data-user-name="focuslabllc">
					<ul></ul>
				</div>
			</section>
			
			<a id="contact" class="in-page-link"></a>
			<section class="pure-text-contact">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
							<span class="sub alt-font">I AM CURRENTLY accepting clients</span>
							<h1><strong>I'm located in Melbourne, Australia<br> and I work with clients globally.</strong></h1>
							<i class="icon icon-map icon-jumbo"></i>
							<i class="icon icon-bike icon-jumbo"></i>
							<i class="icon icon-streetsign icon-jumbo"></i>
						</div>
					</div><!--end of row-->
		
				</div><!--end of container-->
			</section>
		</div>
		
		<div class="footer-container">
		
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row ui-sortable">
						<div class="col-sm-12">
							<span class="text-white">© 2014 Pivot Inc.</span>
							<span class="text-white"><a href="#">hello@pivot.net</a></span>
							<span class="text-white">+614 3827 492</span>
							<span class="text-white">300 Collins St. Melbourne 3000</span>
						</div>
					</div><!--end for row-->
				</div><!--end of container-->
				
				<div class="contact-action">
					<div class="align-vertical" style="padding-top: 80px;">
						<i class="icon text-white icon_mail"></i>
						<a href="contact.html" class="text-white"><span class="text-white">Get in touch with me&nbsp;<i class="icon arrow_right"></i></span></a>
					</div>
				</div>
			</footer>
		</div>
				
		<script src="js/jquery.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/scrollReveal.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/twitterFetcher_v10_min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
				