---
layout: default
---
<section class="hero-slider large-image">
  <ul class="slides">
    <li>
      <div class="background-image-holder overlay">
        <img alt="Slide Background" class="background-image" src="{{ page.image }}">
      </div>      
    </li>				
  </ul>
</section>

<section>
  <div class="container">
    <div class="feed-item mb96 mb-xs-48">
      <div class="row mb16 mb-xs-0">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
          <h6 class="uppercase mb16 mb-xs-8">{{ page.date | date: '%B %-d %Y' }}</h6>
          <h3>{{ page.title }}</h3>
        </div>
      </div>
      
      <div class="row mb32 mb-xs-16">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <p class="lead">
            {{ content }}
          </p>
        </div>
      </div>
    </div>             
  </div>
</section>
