@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  --color: white;
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--color);
  fill: var(--color);
  font-family: 'Poppins';
  font-size: 1em;
  font-weight: 900;
}
.navitem {
  position: relative;
  display: inline-block;
  margin: 0 2vw;
  padding: 2px;
  user-select: none;
}
.navitem:hover {
  cursor: pointer;
}
.navunderline {
  margin: 0 auto;
  width: 0%;
  height: 3px;
  background-color: white;
  opacity: 0;
  transition: width 0.2s, opacity 0.75s;
}
.navitem:hover .navunderline {
  width: 100%;
  opacity: 1;
}
.acm {
  --width: 3em;
  --factor: calc(165 / 240);
  width: var(--width);
  height: calc(var(--factor) * var(--width));
}
