@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --bg-color: #131313;
  --accent: gray;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 15px;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  font-family: 'Poppins';
  color: white;
  font-size: 1.5vmin;
}
.profile_svg {
  color: white;
  fill: white;
  transition: color 0.25s, fill 0.25s;
}
.profile_svg:hover {
  cursor: pointer;
  color: var(--accent);
  fill: var(--accent);
}
.events::-webkit-scrollbar {
  overflow: scroll;
  width: 0.2vw;
}
.events::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 150px;
}