.navbar {
    --color: white;
    margin: 0;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    color: var(--color);
    fill: var(--color);
    font-family: 'Poppins';
    font-size: 1em;
}
.navitem {
    position: relative;
    display: inline-block;
    margin: 0 2vw;
    padding: 2px;
    user-select: none;
}
.navitem:hover {
    cursor: pointer;
}
.navitem:hover .teamnav {
    cursor: default;
    opacity: 1;
    transform: scale(100%) translateY(2.5em);
}
.teamnav {
    --size: 900%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: calc(-1 * ((var(--size) - 100%) / 2));
    width: var(--size);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10%;
    background-color: #000000e8;
    border-radius: 15px;
    z-index: 10;
    transform: scale(0%);
    transition: transform 0.3s, opacity 0.3s;
}
.teamnav::after {
    --size: 20px;
    content: '';
    position: absolute;
    bottom: 100%;
    left: calc(50% - var(--size));
    border-width: var(--size);
    border-style: solid;
    border-color: transparent transparent #000000e8 transparent;
}
.teamnav svg {
    --ratio: calc(889 / 200);
    margin: 10px;
    padding: 10px;
    width: 40%;
    height: fit-content;
    border-radius: 10px;
    transition: background-color 0.3s;
}
.teamnav svg:hover {
    cursor: pointer;
    background-color: #292828c4;
}
.navunderline {
    margin: 0 auto;
    width: 0%;
    height: 3px;
    background-color: white;
    opacity: 0;
    transition: width 0.2s, opacity 0.75s;
}
.navitem:hover .navunderline {
    width: 100%;
    opacity: 1;
}
.acm {
    --width: 3em;
    --factor: calc(165 / 240);
    width: var(--width);
    height: calc(var(--factor) * var(--width));
}